Repository adoptium/temurin-build, pull requests merged in 2018-12, with the labels that each got.

#780 Enable System test on x64Windows at Adopt
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: enhancement

#795 Add jdk/lib/security as location of cacert
  security/README.md
Labels: enhancement

#797 Enable OpenSSL support in openjdk11 with OpenJ9
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: openj9

#802 Disable ccache on JDK11+OpenJ9 on x/p-Linux
  pipelines/build/openjdk11_pipeline.groovy
Labels: bug

#783 Only select tags prefixed 'jdk'
  sbin/build.sh
  sbin/common/constants.sh
Labels: bug

#811 initial solaris solaris suppport
  build-farm/platform-specific-configurations/solaris.sh
  pipelines/build/openjdk8_pipeline.groovy
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: enhancement
