Repository adoptium/temurin-build, pull requests merged in 2018-10, with the labels that each got.

#589 Docker builds do not honour the --ssh flag being passed through #273
  README.md
  docker-build.sh
  docker/jdk10/x86_64/ubuntu/Dockerfile
  docker/jdk8/x86_64/ubuntu/Dockerfile
  docker/jdk9/x86_64/ubuntu/Dockerfile
Labels: bug

#590 Allow passing adhoc build args
  pipelines/build/build_base_file.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
Labels: enhancement

#598 Fix file name
  build-farm/make-adopt-build-farm.sh
  sbin/build.sh
Labels: bug

#599 Close filename
  build-farm/make-adopt-build-farm.sh
Labels: bug

#600 Fix for java 8
  build-farm/make-adopt-build-farm.sh
Labels: bug

#602 Fix unbound variable error for --help arg
  sbin/common/config_init.sh
Labels: bug

#603 Enable extra testing on AIX and OpenJ9 Linux-LH builds
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: enhancement

#601 Add perftest category to all enabled platforms for jdk11
  pipelines/build/openjdk11_pipeline.groovy
Labels: enhancement

#607 Try to fix cacerts on windows
  sbin/build.sh
Labels: bug

#609 build: change extracted image for macOS
  configureBuild.sh
  sbin/build.sh
Labels: enhancement

#612 revert PR 602
  sbin/common/config_init.sh
Labels: bug

#615 docker builds leave volumes behind even when cleaning #583
  configureBuild.sh
  docker-build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
Labels: bug

#618 Build server VM on arm32 (except JDK8/HotSpot)
  configureBuild.sh
Labels: bug

#621 Fix logging
  pipelines/build/openjdk_build_pipeline.groovy
Labels: bug

#620 Add OpenSSL download/build parameters for OpenJ9 builds
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#631 Ensure openssl is only enabled for JDK8/J9, not later versions
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: openj9

#644 Remove debug files from windows build
  sbin/build.sh
Labels: enhancement

#648 removed -lst flag from docker run
  docker-build.sh
Labels: bug

#650 Fetch tag before checkout. Fix variant arg
  build-farm/make-adopt-build-farm.sh
  sbin/prepareWorkspace.sh
Labels: bug

#653 Switch ppc64le builds from Ubuntu to CentOS7
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
Labels: enhancement

#643 Add some basic docker documentation on how to ssh into the container #584
  README.md
  docker-build.sh
  makejdk-any-platform.1
  sbin/common/config_init.sh
Labels: documentation

#657 win/openj9 - download freetype with wget instead of curl
  sbin/prepareWorkspace.sh
Labels: bug

#664 Undo OpenJ9/OpenSSL support on AIX
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/windows.sh
  sbin/build.sh
Labels: aix, openj9

#663 Revert bad merge in #556
  sbin/prepareWorkspace.sh
Labels: bug

#668 shellcheck script
  .gitignore
  .travis.yml
  shellcheck.sh
Labels: enhancement

#670 Add shellcheck.sh to contributing
  CONTRIBUTING.md
Labels: documentation

#672 Fix docker-build.sh SELinux support (#669)
  docker-build.sh
Labels: bug

#677 Add support for building JDK8+OpenJ9 on macos
  build-farm/platform-specific-configurations/mac.sh
Labels: macosx

#675 Start building JDK11 for windows x86
  build-farm/platform-specific-configurations/windows.sh
Labels: enhancement

#594 Doc fixes
  README.md
  docs/generateTestMatrix.sh
  makejdk-any-platform.1
Labels: documentation, enhancement

#688 Fix #676
  sbin/prepareWorkspace.sh
Labels: enhancement

#691 Add support for OpenJ9 Large Heap builds on macos
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: enhancement
