Repository adoptium/temurin-build, pull requests merged in 2018-03, with the labels that each got.

#236 Improve build script argument handling
  makejdk.sh
  sbin/build.sh
Labels: enhancement

#238 Enable synchronizing openjfx repository into github
  git-hg/update-without-modules.sh
Labels: enhancement

#242 Add README for git-hg folder
  git-hg/README.md
Labels: enhancement

#195 remove unused docker build stuff
  installer/docker/README.md
  installer/docker/ubuntu/jdk/Dockerfile
  installer/docker/ubuntu/jdk/build.sh
Labels: enhancement

#246 Add isEmpty checks to some configure parameters
  sbin/build.sh
Labels: enhancement

#254 Update add-branch-without-modules.sh
  git-hg/add-branch-without-modules.sh
Labels: bug

#255 add amber version
  makejdk-any-platform.sh
Labels: enhancement

#256 update version tags for jdk9 and later
  makejdk-any-platform.sh
  sbin/build.sh
Labels: bug

#260 Revert "Update branch of openjdk8-openj9 to openj9-0.8"
  makejdk.sh
Labels: enhancement

#225 Fix macosx runpath dynamic library issue freetype lib - JDK8
  docker/jdk8/x86_64/ubuntu/Dockerfile
  makejdk-any-platform.sh
  sbin/build.sh
  sbin/colour-codes.sh
  sbin/signalhandler.sh
Labels: bug, important, macosx

#261 Add pipeline code
  README.md
  makejdk.sh
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk8_nightly_pipeline.groovy
  pipelines/openjdk8_openj9_nightly_pipeline.groovy
  pipelines/openjdk8_openj9_release_pipeline.groovy
  pipelines/openjdk8_release_pipeline.groovy
  pipelines/openjdk9_nightly_pipeline.groovy
  pipelines/openjdk9_openj9_nightly_pipeline.groovy
  pipelines/openjdk_amber_nightly_pipeline.groovy
Labels: enhancement

#263 add native test lib build for java 10
  docker/README.md
  sbin/build.sh
Labels: enhancement

#271 SAP branch correction
  README.md
  makejdk.sh
Labels: bug

#275 Replace 'file' use with '-r' check for CaCerts
  sbin/common-functions.sh
Labels: bug

#276 Doc improvement for running docker build
  .gitignore
  README.md
  docker/README.md
Labels: bug

#278 Fix broken docker build for OpenJ9
  docker/jdk10/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk9/x86_64/ubuntu/Dockerfile-openj9
  makejdk.sh
Labels: enhancement
