Repository adoptium/temurin-build, pull requests merged in 2018-04, with the labels that each got.

#283 Makejdk man update
  README.md
  makejdk-any-platform.1
Labels: enhancement

#284 fixed --keep option #198
  makejdk.sh
Labels: bug

#285 update MAINTAINER in Dockerfile #188
  docker/jdk10/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk8/x86_64/ubuntu/Dockerfile
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk9/x86_64/ubuntu/Dockerfile
  docker/jdk9/x86_64/ubuntu/Dockerfile-openj9
Labels: documentation

#291 Set nightly builds deployment per platform
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_openj9_nightly_pipeline.groovy
  pipelines/openjdk8_nightly_pipeline.groovy
  pipelines/openjdk8_openj9_nightly_pipeline.groovy
  pipelines/openjdk8_openj9_release_pipeline.groovy
  pipelines/openjdk8_release_pipeline.groovy
  pipelines/openjdk9_nightly_pipeline.groovy
  pipelines/openjdk9_openj9_nightly_pipeline.groovy
  pipelines/openjdk_amber_nightly_pipeline.groovy
Labels: enhancement

#297 Add Windows to openjdk10_openj9 pipeline
  pipelines/openjdk10_openj9_nightly_pipeline.groovy
Labels: enhancement, windows

#296 Automate trigger of openjdk10-openj9 systemtest in x64x & ppc64le linux
  pipelines/openjdk10_openj9_nightly_pipeline.groovy
Labels: enhancement

#298 Automatically trigger Openjdk10-Openj9 systemtest on zLinux
  pipelines/openjdk10_openj9_nightly_pipeline.groovy
Labels: enhancement

#308 Handle and check exit code from make properly
  sbin/build.sh
Labels: bug

#315 Add Windows to the openjdk9/openj9 nightly pipline
  pipelines/openjdk9_openj9_nightly_pipeline.groovy
Labels: enhancement
