Repository adoptium/temurin-build, pull requests merged in 2018-07, with the labels that each got.

#395 Add Linux/arm32 (e.g. raspberry pi) back into openjdk10 pipeline
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_release_pipeline.groovy
Labels: enhancement

#331 Add support for creating JREs
  sbin/build.sh
Labels: enhancement

#404 Revert "Add Linux/arm32 (e.g. raspberry pi) back into openjdk10 pipel…
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_release_pipeline.groovy
Labels: arm, bug

#407 Add Linux/arm32 (e.g. raspberry pi) back into openjdk10 pipeline (#395)
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_release_pipeline.groovy
Labels: enhancement

#409 Remove ao10/arm32 testing as jobs do not yet exist
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_release_pipeline.groovy
Labels: bug

#408 Use pigz to compress instead of gzip if available
  sbin/build.sh
Labels: enhancement

#410 Add arm32 builds to adoptopenjdk9 nightly pipeline
  pipelines/openjdk9_nightly_pipeline.groovy
Labels: enhancement

#380 Pass in jdk version to jtreg
  makejdk.sh
  sbin/jtreg.sh
Labels: enhancement

#401 Travis Shellcheck
  .travis.yml
  makejdk-any-platform.sh
  makejdk.sh
Labels: bug

#419 Add support for jdk11
  README.md
  makejdk-any-platform.1
  makejdk-any-platform.sh
  makejdk.sh
Labels: enhancement

#420 Bring new build scripts up to date with master
  .travis.yml
  README.md
  makejdk-any-platform.1
  makejdk-any-platform.sh
  makejdk.sh
  pipelines/openjdk10_nightly_pipeline.groovy
  pipelines/openjdk10_release_pipeline.groovy
  pipelines/openjdk9_nightly_pipeline.groovy
  sbin/build.sh
  sbin/jtreg.sh
Labels: enhancement

#421 Use --with-freetype=bundled for JDK11
  sbin/build.sh
Labels: bug

#424 Fix Shellcheck so it does not warn against imports
  .travis.yml
Labels: bug
