Repository adoptium/temurin-build, pull requests merged in 2019-12, with the labels that each got.

#1347 Configure path variables accordingly when choosing to build in Docker containers
  docker-build.sh
  sbin/common/config_init.sh
Labels: bug

#1432 Bug report url
  sbin/build.sh
Labels: enhancement

#1421 Show BOOT JDK version string in build log for debug purposes
  build-farm/make-adopt-build-farm.sh
Labels: enhancement

#1442 Enable openj9 ddr
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, enhancement

#1446 tolerate Ubuntu's default gcc 7 path
  build-farm/platform-specific-configurations/linux.sh
Labels: bug

#1451 Ensure JDK8 and 11 are built on AIX xlc13-tagged machines
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: bug

#1448 suppress 'which pigz' output as it looks like an error
  sbin/common/common.sh
Labels: enhancement

#1459 Fix datestamps on last week of the year
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug
