Repository adoptium/temurin-build, pull requests merged in 2019-11, with the labels that each got.

#1369 docker-build.sh: Fixed removal of containers; Works when running in parallel
  docker-build.sh
Labels: bug

#1373 DockerfilesJ9: Install GCC7 and use to build JDK
  docker/jdk11/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk13/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
Labels: enhancement

#1384 Use xlclang on AIX with JDK13+
  build-farm/platform-specific-configurations/aix.sh
Labels: aix

#1382 [#1381] Fix testimage missing when build JDK head
  pipelines/jobs/pipeline_job_template.groovy
  sbin/build.sh
Labels: bug

#1380 Set UID/GID to root/root (0/0) in the tarball contents when using gnu tar
  sbin/common/common.sh
Labels: bug

#1392 Give optional variable releaseTagExcludeList a default value.
  git-hg/mercurialToGit.sh
Labels: bug

#1379 Dockerfile-J9: Extract GCC-7 in a more usual way
  docker/jdk11/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk13/x86_64/ubuntu/Dockerfile-openj9
Labels: bug

#1383 Dockerfiles: Refactor buildDocker script
  docker/buildDocker.sh
Labels: enhancement

#1388 Add freebsd support to build scripts
  build-farm/platform-specific-configurations/freebsd.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#1399 Disable DDR support for AIX/JDK13/OpenJ9
  build-farm/platform-specific-configurations/aix.sh
Labels: bug

#1402 Re-enable jdk13/j9/aix
  pipelines/jobs/configurations/jdk13u.groovy
Labels: aix

#1404 Enable large heap OpenJ9 builds for s390xLinux and ppc64leLinux
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/jobs/configurations/jdk10u.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk12u.groovy
  pipelines/jobs/configurations/jdk13u.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: enhancement

#1407 Adjust labels on new J9 XL builds to not target CentOS6
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: bug

#1410 Stop pulling cacerts from jdk11u for jdk8u builds
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: bug

#1411 Temporarily use JDK11 to boot JDK11 builds
  build-farm/make-adopt-build-farm.sh
Labels: bug
