Repository adoptium/temurin-build, pull requests merged in 2019-07, with the labels that each got.

#1118 Update merge script to use new "merge" based method
  git-hg/mercurialToGit.sh
Labels: enhancement

#1150 Verify AdoptOpenJDK.md tag and handle <build>_adopt tags
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/pipeline_job_template.groovy
  sbin/build.sh
  sbin/common/constants.sh
  sbin/prepareWorkspace.sh
Labels: bug

#1125 Update the logic for launching tests
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: enhancement

#1155 Fetch upstream repos in java 8 hg jobs
  git-hg/jdk8u/merge.sh
Labels: bug

#1158 Add function to rebuild hg workspace on a new machine
  git-hg/jdk8u/merge.sh
Labels: bug

#1163 Set origin to our repo
  git-hg/jdk8u/merge.sh
Labels: bug

#1164 revert to mirror as upstream
  git-hg/jdk8u/merge.sh
Labels: bug

#1167 checkout release
  git-hg/jdk8u/createNextTag.sh
Labels: bug

#1169 Dont fetch
  git-hg/jdk8u/createNextTag.sh
Labels: bug

#1168 Add extended.system/special.functional to the set of launched test targets
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
Labels: enhancement

#1172 Allow diffing tags
  git-hg/diff.sh
Labels: enhancement

#1175 Compare dev branch by default
  git-hg/diff.sh
Labels: enhancement

#1178 Clean up shenandoah tag when determining version
  sbin/build.sh
Labels: bug

#1181 Fix error with gpg when ~/.gnupg does not exist
  sbin/prepareWorkspace.sh
Labels: bug

#1182 Resort to checksum on arm
  sbin/prepareWorkspace.sh
Labels: bug

#1186 fix arm32 jdk8 build
  build-farm/platform-specific-configurations/linux.sh
  pipelines/jobs/configurations/jdk8u.groovy
Labels: bug

#1187 Enable CUDA for OpenJ9
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: bug

#1190 bring back nightlies
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1195 Back off to using curl if wget fails on freemarker checksum (macos)
  sbin/prepareWorkspace.sh
Labels: bug, macosx
