Repository adoptium/temurin-build, pull requests merged in 2019-10, with the labels that each got.

#1292 Modified buildDocker for option to use Eclipse OpenJ9 dockerfiles
  docker/buildDocker.sh
Labels: bug

#1311 Script to merge from AdoptOpenJDK into FreeBSD child repos
  git-hg/freebsdRepoSync.sh
Labels: Waiting on OP, bug

#1171 fixes for building OpenJ9 using docker
  .dockerignore
  docker-build.sh
  docker/jdk8/x86_64/ubuntu/Dockerfile
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
  sbin/common/common.sh
Labels: bug

#1318 pass --enable-jfr to jfr builds
  pipelines/build/common/build_base_file.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: enhancement

#1326 Nightly build inhibit
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1344 Add check for WORKSPACE var in buildDocker.sh
  docker/buildDocker.sh
Labels: bug

#1350 Use `/usr/libexec/java_home` on macOS.
  sbin/common/common.sh
Labels: bug

#1354 Dockerfile: Changed container UID to host UID for j9 files
  docker/jdk11/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk13/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
Labels: bug

#1351 Skip download of Alsa on macOS.
  sbin/prepareWorkspace.sh
Labels: enhancement
