Repository adoptium/temurin-build, pull requests merged in 2019-08, with the labels that each got.

#1207 fix entitlements to allow unsigned libraries to be run
  entitlements.plist
  entitlements_jdk8.plist
  sign.sh
Labels: bug

#1208 sign builds before running tests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1213 Add XLC16 PATH entries for JDK13/AIX
  build-farm/platform-specific-configurations/aix.sh
  pipelines/build/openjdk13_pipeline.groovy
Labels: aix

#1217 xlc16 build fix
  build-farm/platform-specific-configurations/aix.sh
Labels: bug

#1221 Update parameters for create_installer_linux
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1224 Disable AIX JDK13 until upstream OpenJ9 stable on xlc16
  pipelines/jobs/configurations/jdk13u.groovy
Labels: aix

#1225 Use gmake on *BSD
  sbin/common/config_init.sh
Labels: enhancement

#1226 Update freemarker lib to 2.3.29
  sbin/prepareWorkspace.sh
Labels: bug

#1192 Bring build scripts up to date with 13
  README.md
  configureBuild.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#1250 Disable concurrent builds
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: bug

#1249 Attempt to fix boot jdk detection under docker
  configureBuild.sh
  sbin/build.sh
  sbin/common/common.sh
Labels: bug

#1253 Fix build scripts breaking when building non-dev branch
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: bug
