Repository adoptium/temurin-build, pull requests merged in 2019-04, with the labels that each got.

#1003 Add default configuration for individual builds and fix windows builds
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  sbin/build.sh
  sbin/getBuiltVersion.sh
Labels: bug

#1008 Stop generating hash json, Use openjdk version for dir name, Fix using readlink on solaris
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/VersionInfo.groovy
  sbin/build.sh
  sbin/common/common.sh
Labels: bug

#1012 Remove build number from path inside the build archive
  pipelines/library/src/common/VersionInfo.groovy
Labels: bug

#1019 Fix init of a new java 8 repo
  git-hg/jdk8u/merge.sh
Labels: bug

#1021 Dont pull tags from mercurial during an update
  git-hg/mercurialToGit.sh
Labels: bug

#1015 Use downloaded freetype instead of relying on a pre-built version
  build-farm/platform-specific-configurations/windows.sh
  sbin/build.sh
Labels: enhancement

#1023 OpenJ9: Build against system openssl on Linux and don't reship it
  build-farm/platform-specific-configurations/linux.sh
Labels: openj9

#994 Use VS2017 for JDK11u and onwards
  build-farm/platform-specific-configurations/windows.sh
Labels: TSC-Agenda, enhancement

#1033 Fix crash url
  sbin/build.sh
Labels: bug

#1034 Revert directory naming update pending #1016
  sbin/build.sh
Labels: bug

#1035 Fix number of jobs on armv7l
  configureBuild.sh
Labels: bug

#1036 Fix core usage on ARM32 systems if NUM_PROCESSORS set
  build-farm/platform-specific-configurations/linux.sh
Labels: bug

#1037 Pre release build inhibitor
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1046 update docs
  pipelines/jobs/pipeline_job_template.groovy
Labels: bug

#1047 Fix filename for java 8 releases
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1055 Add support for aarch64 openj9 builds on JDK11
  pipelines/jobs/configurations/jdk11u.groovy
Labels: enhancement

#1054 Revert " Pre release build inhibitor (#1037)"
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1048 add linux installers to build pipeline
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement
