Repository adoptium/temurin-build, pull requests merged in 2019-03, with the labels that each got.

#928 Verify branch exists when creating a new repo and chunk commit uploads
  git-hg/mercurialToGit.sh
  pipelines/build.gradle
  pipelines/gradle/wrapper/gradle-wrapper.jar
  pipelines/gradle/wrapper/gradle-wrapper.properties
  pipelines/gradlew
Labels: bug, test-this

#940 Update node labels, fix typo in script and be more explicit on versions
  build-farm/platform-specific-configurations/windows.sh
  pipelines/build/openjdk12_pipeline.groovy
Labels: bug

#951 Always give a tag and timestamp to the nightly build
  pipelines/build/common/build_base_file.groovy
Labels: bug

#960 add --no-adopt-patches
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
Labels: bug

#953 Run full build pipeline from PR
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
Labels: enhancement

#965 Use "arm" rather than "arm32" for JDK12 builds
  build-farm/platform-specific-configurations/linux.sh
Labels: bug

#964 Generate metadata for nightlies
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/src/main/groovy/testDoubles/CurrentBuildStub.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
  sbin/build.sh
  sbin/getBuiltVersion.sh
Labels: enhancement

#972 switch macos installer to take openjdk version
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#973 Pad version for installer
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#976 Fix 11/12 build number
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#974 Correctly find latest tag from repo when there are multiple for same SHA
  sbin/build.sh
Labels: bug

#979 Stop tag detection failing when there's a subdir with name of tag
  sbin/build.sh
Labels: bug

#981 Dont use readlink on mac
  sbin/common/common.sh
Labels: bug

#983 Fix if check producing errors in the log
  sbin/build.sh
Labels: bug

#985 enforce compilation of freetype with 32 bit on i686 systems
  sbin/prepareWorkspace.sh
Labels: bug

#987 Bump groovy
  pipelines/build.gradle
Labels: enhancement

#988 Ignore ga tags when determining build tag
  sbin/build.sh
Labels: bug

#971 Extract Jenkins into shared library
  pipelines/build.gradle
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/import_lib.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/openjdk_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/library/src/common/MetaData.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/JenkinsTypeCheckHelperExtension.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
  sbin/build.sh
Labels: enhancement

#993 Stop locking JDK11/12 on Linux/s390x to one build box
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
Labels: bug

#989 Extract configuration passing into json
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/library/src/common/MetaData.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
  sbin/build.sh
Labels: bug

#1000 move to java 11 for groovy
  sbin/build.sh
  sbin/common/common.sh
Labels: bug
