Repository adoptium/temurin-build, pull requests merged in 2019-05, with the labels that each got.

#1071 Set --with-jvm-variants if provided by user
  sbin/build.sh
Labels: bug

#1075 Turn off external extended test
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: bug

#1078 Add Client VM to builds for Linux arm32 platform
  configureBuild.sh
Labels: enhancement

#1096 Add Jenkins job config Backup
  build-farm/jenkins_job_config_22_may_2019.tgz.gpg
Labels: documentation

#1104 Add client variant to 32-bit hotspot builds
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: enhancement
