Repository adoptium/temurin-build, pull requests merged in 2020-02, with the labels that each got.

#1483 add script to mirror skara repos into github
  git-hg/skaraMirror.sh
Labels: enhancement

#1519 Remove jdk13 reference
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: bug

#1520 Remove disableWarningsAsErrors
  build-farm/platform-specific-configurations/aix.sh
Labels: bug

#1527 env: tolerate gcc 7.5 in /usr/local/gcc bin
  build-farm/platform-specific-configurations/linux.sh
Labels: openj9

#1530 Removed erroneous tags
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
Labels: bug

#1536 Revert "Removed erroneous tags (#1530)"
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
Labels: bug

#1469 Disable hotspot-jfr build trigger sanity.external test job
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1535 docker: Add Dockerfiles for JDK14
  docker/jdk14/x86_64/ubuntu/Dockerfile
  docker/jdk14/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk14/x86_64/ubuntu/dockerConfiguration.sh
Labels: enhancement

#1522 Add AIX to JDK14/15 pipelines
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/jobs/configurations/jdk14.groovy
  pipelines/jobs/configurations/jdk15.groovy
Labels: aix

#1543 aix: Use OpenJ9 VM as boot JDK to avoid crashes
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, bug

#1542 env: Fix detection of failed macos boot jdk download
  build-farm/platform-specific-configurations/mac.sh
Labels: bug

#1548 Implement fixed trigger schedule
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk14.groovy
  pipelines/jobs/configurations/jdk15.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1550 linux: Remove old GCC locations to force to 7.5 or system installed
  build-farm/platform-specific-configurations/linux.sh
Labels: Linux

#1551 Revert "Temporarily disable aarch64 openj9 builds (#1452)"
  pipelines/jobs/configurations/jdk11u.groovy
Labels: bug

#1553 sign.sh: Allow retries on EXE signing as well as DLLs
  sign.sh
Labels: enhancement, windows

#1555 Reduce AIX memory usage due to fork failures
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, bug

#1560 Set TMPDIR to ramdisk on AIX if /ramdisk0/build/tmp exists
  build-farm/platform-specific-configurations/aix.sh
Labels: aix
