Repository adoptium/temurin-build, pull requests merged in 2020-04, with the labels that each got.

#1657 remove version check on the openjdk source git repo
  sbin/prepareWorkspace.sh
Labels: bug

#1655 Build aarch32 (arm32/armv7l) builds from main repository instead of the aarch32-specific one for April GA
  configureBuild.sh
Labels: arm

#1658 Inhibit nightly testing during April 2020 release cycle
  pipelines/jobs/configurations/jdk11_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8_pipeline_config.groovy
Labels: enhancement

#1669 Releasing.md updates (banner and release notes)
  RELEASING.md
Labels: documentation

#1675 add propagate: true to all installer jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1668 Fix checksums on platforms without sha256sum
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1678 windows: Don't set JAVA_HOME to JDK_BOOT_DIR
  build-farm/platform-specific-configurations/windows.sh
Labels: bug

#1687 Revert "add propagate: true to all installer jobs (#1675)"
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1688 bump jdk8u builds to macOS 10.14
  build-farm/platform-specific-configurations/mac.sh
  pipelines/jobs/configurations/jdk8_pipeline_config.groovy
Labels: enhancement

#1697 Upgrade openj9 builds on Windows and MacOS to use OpenSSL 1.1.1g
  build-farm/platform-specific-configurations/windows.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#1689 Allow building the --with-add-source-root to work with full paths
  sbin/build.sh
Labels: bug

#1692 add propagate: true to all installer jobs attempt 2
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1702 Updating Concurrent Pipeline Scripts
  RELEASING.md
  pipelines/build/regeneration/README.md
Labels: bug

#1703 Remove debug files from JDK and JRE
  sbin/build.sh
Labels: enhancement

#1700 Fix checksums on platforms without sha256sum
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1708 prepareWorkspace: Add space after BUILD_CONFIG[REPOSITORY] variable
  sbin/prepareWorkspace.sh
Labels: bug

#1717 Provide notification that signing or installer failed
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1723 Ensure testType isn't false
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1724 pipelines: Correct workspace path for Windows build
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug
