Repository adoptium/temurin-build, pull requests merged in 2020-05, with the labels that each got.

#1725 Revert: "Ensure testType isn't false"
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1728 Enable JITserver for J9 builds on JDK14 and later
  pipelines/jobs/configurations/jdk14_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
Labels: enhancement

#1727 Boot jdk display fix
  build-farm/make-adopt-build-farm.sh
Labels: bug

#1726 Fire installer failure on all failed results
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1729 add docs for an initial stab at #957
  docs/ARCHITECTURE.md
  docs/images/structure.svg
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
Labels: documentation, enhancement

#1704 Do not default adopt_build_num to 1
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
Labels: enhancement

#1736 Apply debug configuration options consistently
  sbin/build.sh
Labels: bug

#1738 openj9: Enable building with cmake on macos/JDK11/J9
  pipelines/jobs/configurations/jdk11_pipeline_config.groovy
Labels: macosx

#1739 Account for empty ADOPT_BUILD_NUMBER string
  pipelines/library/src/common/VersionInfo.groovy
Labels: bug, buildbreak

#1734 Move AIX OpenJ9 builds to AIX 7.1.5 machines
  pipelines/jobs/configurations/jdk11_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8_pipeline_config.groovy
Labels: enhancement, openj9

#1747 Strip java directories from the AIX LIBPATH
  build-farm/platform-specific-configurations/aix.sh
Labels: aix

#1749 Fully revert AIX LIBPATH changes due to build break
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, buildbreak

#1752 Add /usr/lib back into AIX LIBPATH
  build-farm/platform-specific-configurations/aix.sh
Labels: aix

#1577 Add riscv to jdk11 build pipeline
  build-farm/platform-specific-configurations/linux.sh
  pipelines/jobs/configurations/jdk11_pipeline_config.groovy
  pipelines/jobs/configurations/jdk11u.groovy
Labels: enhancement

#1761 Force RISCV build JDK to be JDK11
  build-farm/platform-specific-configurations/linux.sh
Labels: buildbreak

#1762 Do not attempt to run java -version on riscv cross-compile
  sbin/build.sh
Labels: openj9, riscv

#1746 Update RELEASING.md for new JDK head releases.
  RELEASING.md
Labels: documentation

#1755 Amend "Fire installer failure on all failed"
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1754 Improve installer filter parsing
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1760 Introduce timestamps and timeouts
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1765 Quotate JDK_BOOT_DIR setup
  sbin/common/common.sh
Labels: bug

#1772 Reverse "Improve filter parsing" as it causes a build break
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: buildbreak

#1766 Fake version.txt on cross compiles on RISC-V
  sbin/build.sh
Labels: buildbreak

#1767 Use OpenJ9 x64 nightly as RISC-V build jdk
  build-farm/platform-specific-configurations/linux.sh
Labels: enhancement

#1781 Emergency fix to pull freetype from local repo
  sbin/prepareWorkspace.sh
Labels: buildbreak

#1574 Update hardcoded JDK next values
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1785 Freetype typofix2
  sbin/prepareWorkspace.sh
Labels: buildbreak

#1768 Pass timestamps and timeouts as a context
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1786 Clean up properly on windows
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1788 Only try and archive Mac & Win buildInstaller artifacts
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1792 Update PR tester
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/main/groovy/testDoubles/EnvStub.groovy
Labels: bug

#1797 Rename riscv in pipelines to riscv64
  build-farm/platform-specific-configurations/linux.sh
  pipelines/jobs/configurations/jdk11_pipeline_config.groovy
Labels: enhancement

#1796 Remove duplicate pigz + debug code from build.sh
  sbin/build.sh
Labels: bug, documentation
