Repository adoptium/temurin-build, pull requests merged in 2020-08, with the labels that each got.

#2019 Top generator moved, disablePipelineSchedule param added
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: enhancement, jenkins

#2015 Add flag to enable/disable installers
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement, installer

#2020 add OpenJ9 to aarch64 PR testing
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: enhancement

#2023 Broken Markdown
  pipelines/build/regeneration/README.md
Labels: documentation, regeneration

#2027 enable tests on jdk8 arm32
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: enhancement

#2032 switch riscv builds to use dockerfile
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: enhancement

#2031 skip installer stage for PR testing
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#2039 add exploded image build to scripts
  README.md
  configureBuild.sh
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#2041 Ensure we use the correct tag while composing a milestone Publish Name
  RELEASING.md
Labels: bug
