Repository adoptium/temurin-build, pull requests merged in 2020-10, with the labels that each got.

#2035 Add support for Azure Devops testing
  .azure-devops/openjdk-pipelines.yml
  .azure-devops/test/jobs/steps/parallel.yml
  .azure-devops/test/jobs/steps/test.yml
  .azure-devops/test/jobs/template.yml
  .azure-devops/test/sanity.yml
Labels: enhancement

#2100 Add DOCKER_NODE configuration value
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: docker, enhancement

#2111 Add arm32 to build&test jdk16
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk12u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk13u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: arm, enhancement, new builds

#2122 windows: Use OpenSSL 1.1.1h for builds
  build-farm/platform-specific-configurations/windows.sh
Labels: build-windows, windows

#2124 Update OpenSSL to version 1.1.1h for all non-Windows platforms
  sbin/prepareWorkspace.sh
Labels: enhancement

#2136 Ensure any old openjdk src repository is removed before re-clone
  sbin/prepareWorkspace.sh
Labels: bug

#2137 sign: force windows to use 2012 machines
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#2138 Add documentation for the Json Metadata file
  README.md
Labels: documentation, enhancement, no-test

#2125 Fixes #2114 - Add Shenandoah for Java 11 builds.
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  sbin/build.sh
Labels: enhancement

#2130 WIP: Active Node Timeout for Build Pipelines
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: bug

#2077 Add JVM Version, Vendor, and Build Source to Json Metadata
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/common/MetaData.groovy
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#2119 Terminate build on invalid boot jdk
  sbin/common/common.sh
Labels: enhancement

#2154 Build JDK 15, 16 (x64) on CentOS 6
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: bug

#2159 vendor-version-string should default to AdoptOpenJDK
  sbin/build.sh
Labels: bug

#2164 Switch JDK15/J9 back to centos7 build image
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: openj9

#2171 Temporarily remove weekly test list
  pipelines/build/common/build_base_file.groovy
Labels: bug

#2170 Initiate NodeHelper before running build
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#2177 Fix shenandoah conditional so it is correctly enabled
  sbin/build.sh
Labels: bug

#2156 Nightly build and test stats job
  tools/nightly_build_and_test_stats.groovy
Labels: enhancement

#2175 Output metadata to log
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: awaiting-merge-post-release, enhancement, handy/helpful/gives ease

#2173 Update branch name to master in job template
  pipelines/build/common/create_job_from_template.groovy
Labels: bug

#2163 Comment and styling cleanup
  CHANGELOG.md
  CONTRIBUTING.md
  FAQ.md
  README.md
  RELEASING.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/import_lib.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
Labels: documentation, enhancement, handy/helpful/gives ease

#2182 solaris: only specify freetype location on sparcv9
  build-farm/platform-specific-configurations/solaris.sh
Labels: bug

#2184 fix grep logic on solaris
  sbin/prepareWorkspace.sh
Labels: bug

#2157 Correct Corretto version.txt location
  sbin/build.sh
Labels: awaiting-merge-post-release, bug

#2186 Add support for jdk8 'ea' version info
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
Labels: bug, openj9

#2181 Update issue templates for openjdk-build
  .github/ISSUE_TEMPLATE/binary-issue.md
  .github/ISSUE_TEMPLATE/build-issue.md
  .github/ISSUE_TEMPLATE/buildbreak.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/installer-issues.md
  .github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
  .github/ISSUE_TEMPLATE/website-api-issues.md
Labels: documentation, enhancement

#2155 Disable concurrency on pr tester
  pipelines/build/common/config_regeneration.groovy
Labels: bug, important, tech-debt

#2165 Improve error message on prereq download failures
  sbin/prepareWorkspace.sh
Labels: enhancement

#2161 Add some comments around the vendor version block for clarity
  sbin/build.sh
Labels: bug, documentation

#2193 Restructure config args to give user args override priority
  sbin/build.sh
Labels: enhancement, handy/helpful/gives ease

#2190 Remove use of buildj9 label on Windows and zLinux
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
Labels: infra, jenkins, openj9

#2179 Debug Output in VersionInfo
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
Labels: documentation, enhancement, openj9

#2084 Ensure faked RISC-V version strings are the same as others
  sbin/build.sh
Labels: enhancement, riscv

#2166 Set OPENJ9_BRANCH and JDK_BRANCH to release_tag in test pipeline
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#2197 Select Xcode 11.7 for building the JDK
  .github/workflows/build.yml
Labels: bug, code-tools, macosx
