Repository adoptium/temurin-build, pull requests merged in 2020-07, with the labels that each got.

#1944 fix No such property: DOCKER_IMAGE
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1946 Switch timeout value to seconds
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: bug

#1947 Fixes the Groovy compile errors
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/src/main/groovy/JobHelper.groovy
Labels: bug

#1950 If API retries exceeeded, show RC of curl command
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: bug

#1948 switch from codebuild to azure devops
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: bug

#1719 Add sanity check on FILENAME
  build-farm/make-adopt-build-farm.sh
Labels: enhancement

#1952 Allow dockerfile to be built in pipeline
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/dockerFiles/cuda.dockerfile
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement

#1957 Reduce parallelism on AIX JDK14+ hotspot builds
  build-farm/platform-specific-configurations/aix.sh
Labels: buildbreak

#1949 Populate metadata scmRef
  README.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  sbin/prepareWorkspace.sh
Labels: enhancement

#1956 pipeline: Manually delete problematic file for Azure Windows
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1960 set GRADLE_USER_HOME only when it's unset
  sbin/build.sh
  sbin/common/config_init.sh
Labels: bug

#1959 Move version_output & configure_args to metadata
  README.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/MetaData.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
Labels: enhancement

#1648 Add support to build macOS & Windows on Azure DevOps
  .azure-devops/README.md
  .azure-devops/build/build.yml
  .azure-devops/build/steps/macOS/before.yml
  .azure-devops/build/steps/macOS/build_hotspot.yml
  .azure-devops/build/steps/shared/after.yml
  .azure-devops/build/steps/shared/before.yml
  .azure-devops/build/steps/shared/set_boot_jdk_version.yml
  .azure-devops/build/steps/windows/before.yml
  .azure-devops/build/steps/windows/build_hotspot.yml
  .azure-devops/openjdk-pipelines.yml
Labels: enhancement

#1968 arm32: Build with gcc 7.5 on JDK8/arm32/HotSpot
  build-farm/platform-specific-configurations/linux.sh
Labels: bug

#1970 Block nightly builds
  pipelines/jobs/pipeline_job_template.groovy
Labels: bug

#1973 fix mirror script
  git-hg/jdk8u/merge.sh
  git-hg/jdk8u/updateRepo.sh
Labels: bug

#1964 build: switch aarch64 builds to be docker based
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: enhancement

#1975 Revert "Block nightly builds"
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#1971 docker: Make OpenJ9 dockerfiles use ubuntu default gcc-7
  docker/dockerfile-generator.sh
Labels: bug

#1965 Account for jdkxxu in job regenerators
  RELEASING.md
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: documentation, enhancement, regeneration

#1967 Refactor scripts to only use node when needed
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
Labels: bug, jenkins

#1981 Remove master node from pipeline files
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
Labels: bug, jenkins

#1982 docker: Refactor of buildDocker.sh
  docker/buildDocker.sh
Labels: bug

#1976 Pass in build jdk repo and branch to test pipeline builds
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1983 Adjust faked version string on cross-compiled RISC-V builds
  sbin/build.sh
Labels: bug

#1986 Replace string includes with count
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1984 Always pre-clean workspace on mac
  pipelines/build/common/build_base_file.groovy
Labels: bug, macosx

#1988 Disable jdk14 build+test, and enable jdk15 build+test
  pipelines/jobs/configurations/jdk14u.groovy
  pipelines/jobs/configurations/jdk15.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
Labels: lifecycle

#1993 Remove jdk14 from pr test pipeline
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: enhancement

#1985 Re-enable ccache as I don't think original reasons still hold
  build-farm/platform-specific-configurations/linux.sh
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: enhancement

#1995 Parameterise the job regenerators
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: bug, regeneration

#1996 Correct dtrace argument for jdk15
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
Labels: bug

#1998 Add a dockerExcludes override parameter
  pipelines/build/common/build_base_file.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: bug, docker, jenkins

#2004 Terminate build if we dont have valid JDK_BOOT_DIR
  build-farm/make-adopt-build-farm.sh
Labels: bug

#2006 Add note on where to find the test job regenerator
  pipelines/build/regeneration/README.md
Labels: documentation, regeneration

#2008 Only remove debug symbols from JDK for OpenJ9 builds
  sbin/build.sh
Labels: bug

#2009 enable OpenJ9 builds of JDK8 on Linux/aarch64
  pipelines/jobs/configurations/jdk8u.groovy
Labels: enhancement

#2001 re-enable JIT on arm32
  build-farm/platform-specific-configurations/linux.sh
  configureBuild.sh
Labels: enhancement

#2007 Re-jig Gradle not found as warning
  sbin/build.sh
Labels: documentation, enhancement, gradle

#2012 Move location of platform sourcing so JDK_BOOT_DIR processed correctly
  build-farm/make-adopt-build-farm.sh
Labels: bug, buildbreak
