Repository adoptium/temurin-build, pull requests merged in 2020-12, with the labels that each got.

#2232 Add buildConfig enableSigner to skip signing step
  build-farm/platform-specific-configurations/linux.sh
  pipelines/build/dockerFiles/gcc9.dockerfile
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: bug, installer

#2275 egrep regex search | does not need escaping
  sbin/prepareWorkspace.sh
Labels: bug

#2274 Perform openjdk-build git clean after scm checkout
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins

#2269 doc: add explicit info on disabling nightly testing
  RELEASING.md
Labels: documentation

#2276 Do not build mozilla cacerts bundle natively on Solaris/SPARC (too slow on our systems)
  sbin/prepareWorkspace.sh
Labels: Solaris, buildbreak

#2282 fix sleep command syntax in prepareWorkspace.sh
  sbin/prepareWorkspace.sh
Labels: buildbreak

#2283 Check for missing folder shortnames where needed
  build-farm/platform-specific-configurations/windows.sh
Labels: bug, windows

#2280 Stop setting bootjdk on host when running docker-build
  sbin/common/common.sh
Labels: bug, docker

#2158 Increase gradlew java build to use -Xmx512m
  pipelines/gradlew
Labels: enhancement, gradle

#2228 Stop building shared libs as it hangs on Solaris
  sbin/build.sh
Labels: enhancement, jenkins

#2293 Fix lost patch and remove mischange
  build-farm/platform-specific-configurations/linux.sh
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/dockerFiles/gcc9.dockerfile
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: bug, refactoring

#2285 Fix docker-build.sh with SELinux
  docker-build.sh
Labels: bug, docker

#2200 Remove "CONFIGURE_ARGS_FOR_ANY_PLATFORM" variable to avoid confusion
  configureBuild.sh
  sbin/build.sh
  sbin/common/config_init.sh
Labels: bug

#2284 Allow speech marks in configure args
  README.md
  build-farm/make-adopt-build-farm.sh
  pipelines/build/common/create_job_from_template.groovy
  sbin/build.sh
Labels: bug

#2298 JDK16: Temporarily stop JDK16/J9/XL/s390x builds due to capacity issues
  pipelines/jobs/configurations/jdk16.groovy
Labels: buildbreak, z-linux

#2300 Update OpenJ9 to use OpenSSL 1.1.1i
  build-farm/platform-specific-configurations/windows.sh
  sbin/prepareWorkspace.sh
Labels: code-tools, enhancement, openj9, windows

#2305 Corretto jdk-11 does not have a src sub-folder any more
  sbin/build.sh
Labels: buildbreak

#2306 alpine: attempt to download EA build JDK if a GA doesn't exist
  build-farm/platform-specific-configurations/alpine-linux.sh
Labels: buildbreak

#2243 add Dragonwell on windows
  build-farm/platform-specific-configurations/windows.sh
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: enhancement, new builds, windows

#2312 fix issue from introducing CROSS_COMPILE env var
  .github/workflows/build.yml
  README.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
  sbin/build.sh
  sbin/common/config_init.sh
Labels: buildbreak

#2315 cross-compile switch to build args
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: bug

#2320 buildArgs: allow args that aren't VM specific
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
Labels: buildbreak

#2322 Rename BUILD_CONFIG CROSS_COMPILE to CROSSCOMPILE to avoid OpenSSL make conflict
  sbin/build.sh
  sbin/common/config_init.sh
Labels: bug

#2313 Temporarily clean s390x build workspace after build to save space
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, z-linux

#2318 Add openssl compile and bundle for jdk8 openj9
  build-farm/platform-specific-configurations/mac.sh
Labels: bug, macosx

#2326 Add Debug statements to try and resolve #2325
  pipelines/build/common/cross_compiled_version_out.groovy
Labels: bug

#2327 Revert to the old linux cross compile filter
  pipelines/build/common/cross_compiled_version_out.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: buildbreak, riscv

#2333 Revert "Add Debug statements to try and resolve #2325"
  pipelines/build/common/cross_compiled_version_out.groovy
Labels: bug

#2334 docs: add pipeline calendar to new major version docs
  RELEASING.md
Labels: documentation, jenkins

#2335 make-adopt-build-farm.sh: fail fast if required env vars are missing
  build-farm/make-adopt-build-farm.sh
Labels: documentation, enhancement

#2336 jdk16 x32Windows test pipeline config not valid
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: bug, windows

#2339 use VS2019 on OpenJ9 JDK15+ builds
  build-farm/platform-specific-configurations/windows.sh
Labels: openj9

#2340 Adjust JDK15+/J9/Windows builds to pick up correct openssl
  build-farm/platform-specific-configurations/windows.sh
Labels: bug

#2342 Fixup last PR
  build-farm/platform-specific-configurations/windows.sh
Labels: buildbreak

#2341 lock jdk11 dragonwell to alibaba build machines (for now)
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: build-windows
