Repository adoptium/temurin-build, pull requests merged in 2020-06, with the labels that each got.

#1810 Update shellcheck script to avoid error
  shellcheck.sh
Labels: bug

#1811 add jfr flag arg to hotspot
  pipelines/jobs/configurations/jdk8_pipeline_config.groovy
  shellcheck.sh
Labels: enhancement

#1813 prepworkspace: Stop error when checking valid git repo
  sbin/prepareWorkspace.sh
Labels: bug

#1815 Enable OpenJ9 builds of JDK-Next (15)
  pipelines/jobs/configurations/jdk15.groovy
Labels: enhancement

#1790 Build one installer unless we have JRE
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement, installer

#1827 Fail build if valid boot dir isn't found
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: enhancement

#1822 Query the adopt api to get the JDK-Head version
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, buildbreak, windows

#1829 Use most_recent_feature_version
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1830 Account for windowsXL installers
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, installer

#1833 Gradle: Update Gradle to the latest version (6.5)
  pipelines/gradle/wrapper/gradle-wrapper.properties
Labels: enhancement

#1784 If an HTTP download fails in downloadFile, abort rather than fail later
  sbin/prepareWorkspace.sh
Labels: enhancement

#1835 Declare Helper as an import
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins

#1836 Revert Import changes from previous commit
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins

#1838 prepareWorkspace: fix `REPOSITORY` does not end with `.git`
  sbin/prepareWorkspace.sh
Labels: bug

#1841 Add gradlew retry to avert network failures
  pipelines/gradlew
  sbin/build.sh
Labels: enhancement

#1844 Use config files over API for regeneration
  RELEASING.md
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: enhancement, regeneration

#1847 Disable cmd line shell exit for gradle re-try logic
  sbin/build.sh
Labels: bug

#1850 Ensure jdk(next) prepareWorkspace validates cache correctly
  sbin/prepareWorkspace.sh
Labels: bug

#1843 Add retry logic for build prepareWorkspace checkout
  sbin/prepareWorkspace.sh
Labels: enhancement

#1856 Remove wix from installer filter
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer

#1859 Update regen doc links to static ones
  docs/ARCHITECTURE.md
Labels: documentation, regeneration

#1861 Revert "Remove wix from installer filter (#1856)"
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer

#1860 Gradle slow retry
  sbin/build.sh
Labels: enhancement

#1872 Handles u in javaVersion
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
  pipelines/jobs/configurations/jdk10u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk12u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk13u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk9u_pipeline_config.groovy
Labels: enhancement, regeneration

#1875 Remove public from regenerate()
  pipelines/build/common/config_regeneration.groovy
Labels: bug, regeneration

#1874 Dump info on failed api request
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: enhancement

#1865 Switch JDK15 Linux/x64 builds to CentOS7/RHEL7
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
Labels: enhancement

#1877 Add timestamps to regeneration log
  pipelines/build/common/config_regeneration.groovy
Labels: enhancement, regeneration

#1871 Trial copyArtifactPermission
  pipelines/build/common/create_job_from_template.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: bug

#1884 Update xLinxu JDK16 builds to run on RHEL7
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: buildbreak

#1885 Update README to show jdk 15 and head status
  README.md
  docs/generateBuildMatrix.sh
Labels: documentation

#1888 Verbose curl to retrieve latest API version
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: buildbreak

#1887 Update groovy to 3.0.4 for all platforms
  pipelines/build.gradle
Labels: bug, gradle

#1864 docker: Add script to generate dockerfiles
  docker-build.sh
  docker/README.md
  docker/dockerfile-generator.sh
  docker/jdk/x86_64/ubuntu/Dockerfile
  docker/jdk/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk10/x86_64/ubuntu/Dockerfile
  docker/jdk10/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk10/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk11/x86_64/ubuntu/Dockerfile
  docker/jdk11/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk11/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk12/x86_64/ubuntu/Dockerfile
  docker/jdk12/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk12/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk13/x86_64/ubuntu/Dockerfile
  docker/jdk13/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk13/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk14/x86_64/ubuntu/Dockerfile
  docker/jdk14/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk14/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk8/x86_64/ubuntu/Dockerfile
  docker/jdk8/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk8/x86_64/ubuntu/dockerConfiguration.sh
  docker/jdk9/x86_64/ubuntu/Dockerfile
  docker/jdk9/x86_64/ubuntu/Dockerfile-openj9
  docker/jdk9/x86_64/ubuntu/dockerConfiguration.sh
Labels: enhancement

#1889 Add retry logic to script based api queries
  build-farm/make-adopt-build-farm.sh
  sbin/common/common.sh
Labels: enhancement

#1892 Manually delete problimatic file on windows
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, windows

#1891 Enable JFR for all 8 builds and remove unwanted config from pipelines
  build-farm/platform-specific-configurations/linux.sh
  configureBuild.sh
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  sbin/build.sh
  sbin/common/constants.sh
Labels: bug

#1894 JFR is not universal
  sbin/build.sh
Labels: bug

#1895 fix skip logic for jfr on s390x
  sbin/build.sh
Labels: bug

#1896 print full stacktrace instead just getMessage
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1899 Use OpenJ9 boot jdk for JDK15+ J9 builds
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: bug, openj9

#1905 Add arm32 builds to JDK15
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15.groovy
  pipelines/jobs/configurations/jdk15_pipeline_config.groovy
Labels: enhancement, new builds

#1901 Use OpenJ9 as boot JDK if downloading one during OpenJ9 build
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: buildbreak, duplicate

#1893 Add context to getAvailableReleases
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1915 Revert "Print out file perms on build fail (#1913)"
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, installer

#1917 try re-throw exception to see full stacktrace
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug

#1918 Add java version and configure to VersionInfo
  README.md
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/library/src/ParseVersion.groovy
  pipelines/library/src/common/VersionInfo.groovy
  pipelines/src/test/groovy/VersionInfoTest.groovy
  sbin/build.sh
  sbin/build.template
Labels: enhancement

#1898 remove last incubator JFR references
  build-farm/platform-specific-configurations/mac.sh
  sbin/common/common.sh
Labels: bug

#1919 Add context to printlns and adapt new filenames
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: bug, regeneration

#1920 Set GRADLE_USER_HOME to workspace/.gradle
  sbin/build.sh
Labels: bug, gradle

#1911 docker: Update buildDocker.sh to use new eclipse dockerfile script
  docker/buildDocker.sh
Labels: bug

#1912 docker: Fixes to get `dockerfile-generator.sh` working with `makejdk-any-platform.sh --docker`
  docker-build.sh
  docker/dockerfile-generator.sh
Labels: enhancement

#1923 docker: Declare `PRINT` var in dockerfile-generator.sh
  docker/dockerfile-generator.sh
Labels: bug

#1924 Dump stack trace on build failure
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement, installer

#1925 docker: Ensure cleanRep var is bound in dockerfile-generator.sh
  docker/dockerfile-generator.sh
Labels: bug

#1927 Set PR_Tester build result to failure
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: bug

#1928 Don't check if pr-tester is running
  pipelines/build/common/config_regeneration.groovy
Labels: enhancement, regeneration

#1929 docker: Put in missing backslash to dockerfile-generator.sh
  docker/dockerfile-generator.sh
Labels: bug

#1932 Print the error and stacktrace together
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement

#1930 Print out name of failed pipeline in pr_tester
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: enhancement

#1926 Set JAVA_HOME to --jdk-boot-dir
  configureBuild.sh
Labels: bug, gradle

#1937 Undo gradlebreaks
  pipelines/build.gradle
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: buildbreak

#1939 replace uberJar with shadowJar #1938
  pipelines/build.gradle
  pipelines/src/test/groovy/VersionInfoTest.groovy
  sbin/build.sh
Labels: bug

#1941 add config arguments for adopt build repo uri and branch
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#1935 switch linux x64 builds to use docker
  .gitignore
  configureBuild.sh
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement

#1943 print stacktrace to job console #1834
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug
