Repository adoptium/temurin-build, pull requests merged in 2020-09, with the labels that each got.

#2063 Prevent --help from running build
  sbin/common/config_init.sh
Labels: bug

#2051 add dragonwell support
  configureBuild.sh
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/dockerFiles/dragonwell.dockerfile
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/common/constants.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#2033 Build cacerts during build from Mozilla's list
  README.md
  docker/dockerfile-generator.sh
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
  security/.gitignore
  security/GenerateCertsFile.sh
  security/README.md
  security/cacerts
  security/certdata.txt
  security/mk-ca-bundle.pl
  security/mk-cacerts.sh
Labels: enhancement

#2062 Stop building client VM on Windows for 15, 16
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: bug

#1457 Add initial openjdk-build FAQ
  FAQ.md
  README.md
Labels: documentation

#2066 Adds comments to pr-tester
  FAQ.md
  pipelines/build/prTester/README.md
  pipelines/build/prTester/images/pr_tester_building.png
  pipelines/build/prTester/images/pr_tester_checks.png
  pipelines/build/prTester/images/pr_tester_queued.png
  pipelines/build/prTester/images/pr_tester_result.png
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: documentation, enhancement

#2083 Revert "Build cacerts during build from Mozilla's list (#2033)"
  README.md
  docker/dockerfile-generator.sh
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
  security/.gitignore
  security/GenerateCertsFile.sh
  security/README.md
  security/cacerts
  security/certdata.txt
  security/mk-ca-bundle.pl
  security/mk-cacerts.sh
Labels: bug, buildbreak

#2082 Fix RISC-V version string so it gets sorted correctly in API
  sbin/build.sh
Labels: bug

#2081 add github actions builds
  .github/workflows/build.yml
  .github/workflows/compile.yml
  .github/workflows/linter.yml
  .travis.yml
  sbin/build.sh
Labels: enhancement

#2089 Add checks to prevent Github Actions error
  sbin/build.sh
Labels: bug

#2094 Add early access configureArgs options to RELEASING.md
  RELEASING.md
Labels: documentation

#2092 Change location of windows.p12 file for signing/installer jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: installer, windows

#2076 Add x32 Windows to jdk16
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
Labels: important, new builds, windows

#2052 Use chronological tag sorting to get latest version tag
  sbin/build.sh
Labels: enhancement

#2048 Add an EXCLUDES_LIST param to job generators
  RELEASING.md
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: bug, regeneration

#2073 Refactor how "vendor" configure arguments are generated
  sbin/build.sh
  sbin/common/config_init.sh
Labels: enhancement, refactoring

#2043 Add option to create debug-symbols in a separate file
  README.md
  sbin/build.sh
  sbin/common/config_init.sh
Labels: enhancement

#2024 Trigger tests with standard set
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/jobs/configurations/jdk10u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk12u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk13u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk14u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk9u_pipeline_config.groovy
Labels: enhancement

#2070 Re-enable concurrency for the pr-tester
  build-farm/make-adopt-build-farm.sh
  pipelines/build/common/config_regeneration.groovy
  sbin/build.sh
  sbin/common/common.sh
  sbin/prepareWorkspace.sh
  sign.sh
Labels: enhancement, jenkins, regeneration

#2061 Add JENKINS_AUTH Param to Job Generators
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/regeneration/README.md
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: bug, regeneration

#2102 Use basic sleep on groovy scripts
  pipelines/build/common/config_regeneration.groovy
Labels: bug, buildbreak

#2099 Pass in excludes to the regeneration
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
Labels: bug, buildbreak, regeneration

#2104 Enable sanity.openjdk set on arm32
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: enhancement

#2103 Solaris "sort" does not support stable sort option for sorting JDK tag sequence
  sbin/build.sh
Labels: bug

#2105 enable sanity and extended.functional testing to Aarch64 nightly builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
Labels: enhancement

#2108 Use Groovy's Advanced Sleep
  pipelines/build/common/config_regeneration.groovy
Labels: enhancement, handy/helpful/gives ease

#2040 start using dynamic docker setup for certain ppc64le builds
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: enhancement
