Repository adoptium/temurin-build, pull requests merged in 2021-11, with the labels that each got.

#2777 Fix Dockerfile generator for Java 11
  docker/dockerfile-generator.sh
Labels: docker, jenkins, testing

#2774 Add support for more java vendors
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: testing

#2772 Add wget curl wrapper
  .gitignore
  docker/buildDocker.sh
  docker/dockerfile-generator.sh
Labels: docker, macos, testing

#2788 Add support for on-demand JREs for JDK16+
  README.md
  build-farm/make-adopt-build-farm.sh
  configureBuild.sh
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
Labels: jenkins, documentation
