Repository adoptium/temurin-build, pull requests merged in 2021-09, with the labels that each got.

#2684 Fix typo in binary location URL
  RELEASING.md
Labels: documentation

#2694 Update README to steer folks to the right place WRT to releases.
  README.md
Labels: documentation

#2705 Change vendor from Eclipse Foundation to Eclipse Adoptium
  README.md
  sbin/build.sh
  sbin/common/config_init.sh
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: documentation

#2711 switch bootJDK download scripts to use adoptium binaries
  .azure-devops/build/steps/macOS/before.yml
  .azure-devops/build/steps/windows/before.yml
  .github/workflows/labeler.yml
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
  docker/buildDocker.sh
  docker/dockerfile-generator.sh
  sbin/common/common.sh
Labels: docker, macos, jenkins, windows, aix, alpine-linux

#2713 fix macos aarch64 builds
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, arm, aarch

#2712 remove entitlements from deep sign
  sign.sh
Labels: installer

#2693 Update OpenSSL version to 1.1.1l
  build-farm/platform-specific-configurations/windows.sh
  sbin/prepareWorkspace.sh
Labels: windows

#2718 skip building JRE's on JDK16+
  configureBuild.sh
  sbin/build.sh
Labels: awaiting-merge-post-release

#2724 Fix macOS build info containing newline
  sbin/build.sh
Labels: macos, testing

#2564 code signing macOS binary directory before creating tar.gz file
  sbin/build.sh
Labels: bug, macos, awaiting-merge-post-release

#2725 Implement building of OpenJDK static libs
  configureBuild.sh
  docker-build.sh
  sbin/build.sh
  sbin/common/config_init.sh
Labels: docker

#2710 Revert removal of Temurin name from JDK8 java -version output
  sbin/build.sh
Labels: quarterly
