Repository adoptium/temurin-build, pull requests merged in 2021-01, with the labels that each got.

#2347 use alternative timestamp server as verisign have removed theirs - fixes #2346
  sign.sh
Labels: bug

#2351 Add period_days to analyze stage_time_analysis for jobs over the last so many days
  tools/stage_time_analysis.groovy
Labels: enhancement, jenkins

#2360 Ensure jdk15/16/17 build ppcle on centos7 nodes
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: p-linux

#2362 Clean up the artifacts on master after archiving them elsewhere
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, macosx

#2359 New midweek nightly build schedule and weekend weekly-release
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk15u.groovy
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: enhancement, jenkins

#2364 Fix git-hg mirror tag sorting so jdk11u _adopt tags get created
  git-hg/mercurialToGit.sh
Labels: bug

#2363 Clean up redundant json and sha256 files from previous mac runs
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, macosx

#2370 Make downstream regenerator less inclusive
  pipelines/build/common/config_regeneration.groovy
Labels: buildbreak, regeneration

#2372 Add ADDITIONAL_TEST_LABEL to allow targeting variant test jobs appropriately
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk15u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement

#2376 Dragonwell Windows everywhere
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: bug, dragonwell, windows

#2379 Add scmReference config for weekly release builds
  RELEASING.md
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk15u.groovy
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk17.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
Labels: enhancement

#2384 Include weekend weekly builds in Success Rating stats
  tools/nightly_build_and_test_stats.groovy
Labels: enhancement, jenkins

#2392 Disable nightly testing during January 2021 release cycle
  pipelines/build/common/config_regeneration.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement

#2390 Add pipeline param for test KEEP_REPORTDIR
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement

#2395 Revert weekend test release pipeline builds to HEAD tags
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk15u.groovy
  pipelines/jobs/configurations/jdk8u.groovy
Labels: bug

#2388 Nightly stats, allow for null startBy in pipeline object
  tools/nightly_build_and_test_stats.groovy
Labels: awaiting-merge-post-release, bug

#2401 Revert "Disable nightly testing during January 2021 release cycle (#2392)
  pipelines/build/common/config_regeneration.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement, testing

#2386 Polish Dragonwell
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: awaiting-merge-post-release, dragonwell, enhancement

#2403 Disable jdk15u pipeline now that it is retired
  RELEASING.md
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/jobs/configurations/jdk15u.groovy
Labels: enhancement

#2393 Unify debug-image and debug-symbols creation option
  README.md
  sbin/build.sh
  sbin/common/config_init.sh
Labels: awaiting-merge-post-release, enhancement

#2214 actions: only run builds on pull request
  .github/workflows/build.yml
  .github/workflows/compile.yml
  .github/workflows/linter.yml
Labels: bug

#2404 bump actions CI to jdk16 and include dragonwell
  .github/workflows/build.yml
Labels: dragonwell, enhancement, testing

#2400 Clean problematic files on alibaba workspaces
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, dragonwell, windows

#2399 Remove overrides to remove gradle and cacerts from Solaris/SPARC
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: Solaris, enhancement

#2408 Document re-enabling Nightly Testing after a Release
  RELEASING.md
Labels: documentation, testing

#2396 Update weekend release test pipelines so they do not lock Jenkins logs
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/weekly_release_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement, jenkins

#2409 Use multiple backup timeservers for Windows signing
  .gitignore
  serverTimestamp.properties
  sign.sh
Labels: enhancement

#2411 Use the correct openj9 extensions repo name to runTests
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, openj9, testing

#2418 Update defaultJavaVersions in prTester to 8,11,16,17
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: enhancement, testing
