Repository adoptium/temurin-build, pull requests merged in 2021-05, with the labels that each got.

#2613 Correct jdk8u SEM_VER creation from build tag
  sbin/build.sh
Labels: bug

#2609 Cleanup excessive linter checks
  .azure-devops/README.md
  .github/linters/.jscpd.json
  .github/linters/.markdown-lint.yml
  .github/linters/sun_checks.xml
  .github/linters/suppressed-java.xml
  .github/workflows/linter.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/linux.sh
  docker-build.sh
  docker/README.md
  mercurial-tags/java-tool/MercurialTracker.java
  mercurial-tags/java-tool/compileTool.sh
  mercurial-tags/java-tool/runTool.sh
  sbin/build.template
  security/README.md
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/CudaEnabledTest.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/FeatureTests.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/JdkPlatform.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/StreamUtils.java
Labels: bug, testing

#2601 initial temurin rewrite
  .azure-devops/build/steps/shared/before.yml
  .azure-devops/openjdk-pipelines.yml
  .github/ISSUE_TEMPLATE/build-issue.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/not-sure-where-to-raise-an-issue.md
  .github/workflows/build.yml
  CONTRIBUTING.md
  FAQ.md
  README.md
  RELEASING.md
  Testing.md
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
  build-farm/set-platform-specific-configurations.sh
  configureBuild.sh
  docker/README.md
  docker/dockerfile-generator.sh
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/common/constants.sh
  sbin/prepareWorkspace.sh
  sign.sh
  test/functional/buildAndPackage/build.xml
  test/functional/buildAndPackage/playlist.xml
  test/functional/buildAndPackage/src/net/adoptium/test/BundledFreetypeTest.java
  test/functional/buildAndPackage/src/net/adoptium/test/CudaEnabledTest.java
  test/functional/buildAndPackage/src/net/adoptium/test/FeatureTests.java
  test/functional/buildAndPackage/src/net/adoptium/test/JdkPlatform.java
  test/functional/buildAndPackage/src/net/adoptium/test/JdkVersion.java
  test/functional/buildAndPackage/src/net/adoptium/test/StreamUtils.java
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
  test/functional/buildAndPackage/src/net/adoptium/test/package-info.java
  test/functional/buildAndPackage/testng.xml
Labels: compatibility, enhancement, refactoring

#2618 fix broken vendor version test
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: bug, testing

#2575 Add comment bot, labeller and project manager
  .github/labeler.yml
  .github/regex_labeler.yml
  .github/workflows/comment-bot.yml
  .github/workflows/labeler.yml
Labels: enhancement, ghActions

#2619 Switch codesigning to use Eclipse Foundation certificate
  build-farm/platform-specific-configurations/mac.sh
  sign.sh
Labels: installer, macos, windows

#2621 stop building jdk8 aarch64 from separate repo
  configureBuild.sh
Labels: aarch

#2622 Specify column name for project manager
  .github/workflows/labeler.yml
Labels: bug, ghActions

#2624 Tactical fix to force OpenJ9 JDK16+ to download a HotSpot boot JDK
  build-farm/platform-specific-configurations/linux.sh
Labels: bug, openj9, x-linux

#2606 Disable javaVendorVersion tests for jdk8
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: bug, testing, x-linux

#2627 Fix Windows codesign permissions
  sign.sh
Labels: installer

#2628 skip codesigning testimage and debugimage
  build-farm/sign-releases.sh
Labels: installer, jenkins

#2630 Handle get jdk tag sort behaviour on Alpine for empty field behaviour
  sbin/build.sh
Labels: bug

#2633 modify plist values as part of build instead of installer
  sbin/build.sh
Labels: installer, macos

#2629 add deep signing for macOS
  sign.sh
Labels: installer, macos

#2610 Clarify test exception for JDK8 on OpenJ9
  test/functional/buildAndPackage/src/net/adoptium/test/JdkVersion.java
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: enhancement, openj9, testing
