Repository adoptium/temurin-build, pull requests merged in 2021-04, with the labels that each got.

#2555 Remove quotes from BUILD_CONFIG[SHALLOW_CLONE_OPTION]
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: bug

#2537 add support for Bisheng JDK8 and 8/11 on non-RISCV platforms
  build-farm/platform-specific-configurations/linux.sh
  configureBuild.sh
  sbin/build.sh
  sbin/common/config_init.sh
Labels: bisheng, enhancement

#2562 macOS: only target 10.9 on intel based builds
  build-farm/platform-specific-configurations/mac.sh
Labels: aarch, macosx

#2570 Fix for BundledFreetypeTest on Windows
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/BundledFreetypeTest.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/package-info.java
Labels: bug, windows

#2567 Enable arch ppc64 for smoke tests
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/JdkPlatform.java
Labels: aarch, enhancement, p-linux, testing

#2569 Update smoke test to work with openj9 jdk
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/CudaEnabledTest.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/VendorPropertiesTest.java
Labels: enhancement, openj9, testing

#2573 macOS: prevent m1 builds from cross compiling x64
  build-farm/platform-specific-configurations/mac.sh
Labels: bug, macos

#2580 Shenandoah present on win32
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/FeatureTests.java
Labels: bug

#2577 Update Mozilla certdata.txt
  security/certdata.txt
Labels: enhancement, security

#2598 Disable JFR smoke test on AIX
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/FeatureTests.java
Labels: aix, bug, testing

#2595 Add Java version to smoke test
  test/functional/buildAndPackage/playlist.xml
Labels: aarch, bug, dragonwell/alibaba

#2593 Enable Shenandoah for Corretto jdk 11
  sbin/build.sh
Labels: bug, testing, x-linux

#2591 Update all references of vendor url https://adoptopenjdk.net/ to https://adoptium.net/
  FAQ.md
  README.md
  RELEASING.md
  sbin/build.sh
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/VendorPropertiesTest.java
Labels: awaiting-merge-post-release, documentation, enhancement

#2587 Don't bundle freetype with alpine linux
  build-farm/platform-specific-configurations/alpine-linux.sh
Labels: alpine-linux, bug

#2605 Remove invalid debuginfo symlink
  sbin/build.sh
Labels: bug

#2602 Skip test for missing vendor name in minus version on JDK8 OpenJ9
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/JdkVersion.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/VendorPropertiesTest.java
Labels: bug, openj9, testing
