Repository adoptium/temurin-build, pull requests merged in 2021-03, with the labels that each got.

#2500 Fix syntax error in build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/linux.sh
Labels: bug, x-linux

#2495 Fix syntax error in sbin/prepareWorkspace.sh
  sbin/prepareWorkspace.sh
Labels: bug

#2507 Fix gcc-9.3 build error and limit gcc 9.3 on dragonwell aarch64
  build-farm/platform-specific-configurations/linux.sh
Labels: buildbreak, dragonwell/alibaba, x-linux

#2506 Update FAQ to account for #2463
  FAQ.md
Labels: documentation, enhancement

#2512 Revert "windows: switch aarch64 builds to use correct boot jdk version"
  build-farm/platform-specific-configurations/windows.sh
Labels: aarch, buildbreak, windows

#2509 De-duplicate RISCV cross compile code and allow native builds too
  build-farm/platform-specific-configurations/linux.sh
Labels: enhancement, riscv

#2515 Fix RISC-V cross-compilation environment detection
  build-farm/platform-specific-configurations/linux.sh
Labels: buildbreak, riscv

#2516 Fixup RISC-V cross-compiler check so it doesn't fail with set -e
  build-farm/platform-specific-configurations/linux.sh
Labels: bug, buildbreak

#2517 Refix last change again
  build-farm/platform-specific-configurations/linux.sh
Labels: buildbreak

#2520 Unbreak RISC-V OpenJ9 build
  build-farm/platform-specific-configurations/linux.sh
Labels: bug, buildbreak, cross-compile, openj9

#2513 Replace shellcheck with super linter
  .github/linters/.markdown-lint.yml
  .github/workflows/linter.yml
  .gitignore
  CONTRIBUTING.md
  FAQ.md
  pipelines/build/prTester/README.md
  shellcheck.sh
Labels: documentation, enhancement, testing

#2533 Change JDK16_VERSION to jdk16u
  .github/workflows/build.yml
  sbin/common/constants.sh
Labels: enhancement, jenkins, refactoring

#2521 Terminate build on unknown variant type
  .gitignore
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/mac.sh
  configureBuild.sh
  sbin/common/constants.sh
Labels: bug

#2525 Allow other sign tools via param SIGN_TOOL
  build-farm/sign-releases.sh
  sign.sh
Labels: enhancement

#2523 update bisheng source repo and tag search rules
  configureBuild.sh
  sbin/build.sh
Labels: awaiting-merge-post-release, bisheng, enhancement

#2535 Update RELEASING.md update repo section
  RELEASING.md
Labels: documentation, enhancement

#2541 make-adopt-build-farm: Use arm instead of armv7l
  build-farm/make-adopt-build-farm.sh
Labels: arm, bug

#2540 Missing ] in configureBuild.sh for arm
  configureBuild.sh
Labels: arm, bug

#2534 Update doc to account for ci changes
  RELEASING.md
Labels: documentation, enhancement, jenkins

#2547 Stop use of 'basename -s' which does not work on Cent/RHEL6
  sbin/build.sh
Labels: bug

#2539 checks for processes on Linux/arm32 builds for scaleway
  build-farm/platform-specific-configurations/linux.sh
Labels: arm, enhancement, infra

#2548 Shellcheck fixes and prtester doc move
  .gitignore
  CONTRIBUTING.md
  FAQ.md
  Testing.md
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/freebsd.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/solaris.sh
  build-farm/platform-specific-configurations/windows.sh
  build-farm/set-platform-specific-configurations.sh
  configureBuild.sh
  docker/buildDocker.sh
  docker/dockerfile-generator.sh
  makejdk-any-platform.sh
  sbin/build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
  sign.sh
Labels: bug, testing

#2551 Disable shellcheck and quotes on JRE mirror
  sbin/build.sh
Labels: buildbreak, macosx

#2553 Update OpenJ9's OpenSSL to 1.1.1k
  build-farm/platform-specific-configurations/windows.sh
  sbin/prepareWorkspace.sh
Labels: enhancement, openj9

#2544 Add metadata version to java.vendor.version
  sbin/build.sh
Labels: enhancement

#2529 Add warning if AIX ulimit -n is too low
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, enhancement
