Repository adoptium/temurin-build, pull requests merged in 2021-12, with the labels that each got.

#2796 Avoid using github proxy for downloading dragonwell submodules
  sbin/prepareWorkspace.sh
Labels: macos, dragonwell/alibaba

#2791 Update releasing doc about re-enabling nightly tests
  RELEASING.md
Labels: documentation

#2799 Switch JDK8u to use Skara mirror and update RELEASING.md
  RELEASING.md
  sbin/prepareWorkspace.sh
Labels: documentation

#2801 bump JDK tip version to JDK19
  .github/workflows/build.yml
  build-farm/make-adopt-build-farm.sh
  sbin/common/constants.sh
Labels: jenkins

#2802 remove COMPILER_WARNINGS_FATAL from macOS build
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, jenkins

#2805 Add cyclonedx-lib build and --create-sbom option
  .gitignore
  cyclonedx-lib/build.xml
  cyclonedx-lib/src/temurin/sbom/TemurinGenSBOM.java
  cyclonedx-lib/src/temurin/sbom/package-info.java
  sbin/build.sh
  sbin/common/config_init.sh
Labels: testing, reproducible-build

#2809 Update security report location
  SECURITY.md
Labels: documentation, security

#2811 Add some extra doc ref running the release tool
  RELEASING.md
Labels: documentation
