Repository adoptium/temurin-build, pull requests merged in 2021-02, with the labels that each got.

#2417 build.sh: Add eyecatcher timestamps to check build performance
  sbin/build.sh
  sbin/common/common.sh
  sbin/prepareWorkspace.sh
Labels: enhancement

#2422 build: Disable buildSharedLibs as it does not seem to be needed
  sbin/build.sh
Labels: enhancement

#2431 Collect built JDKs in PR tester
  .github/workflows/build.yml
  pipelines/build/prTester/README.md
Labels: enhancement, testing

#2437 git-hg: split out into separate repo
  README.md
  git-hg/README.md
  git-hg/diff-without-getsource.sh
  git-hg/diff.sh
  git-hg/freebsdRepoSync.sh
  git-hg/import-common.sh
  git-hg/jdk8u/buildAarch64Repo.sh
  git-hg/jdk8u/buildRepo.sh
  git-hg/jdk8u/constants.sh
  git-hg/jdk8u/createNextTag.sh
  git-hg/jdk8u/merge.sh
  git-hg/jdk8u/patches/0001-Backport-8073139.patch
  git-hg/jdk8u/patches/0001-Set-vendor-information.patch
  git-hg/jdk8u/patches/company_name.patch
  git-hg/jdk8u/patches/ppc64le_1.patch
  git-hg/jdk8u/patches/ppc64le_2.patch
  git-hg/jdk8u/updateRepo.sh
  git-hg/mercurialToGit.sh
  git-hg/skaraMirror.sh
  git-hg/update.sh
Labels: enhancement, refactoring

#2434 Remove arch64Windows from nightly until new machine available
  pipelines/jobs/configurations/jdk16.groovy
  pipelines/jobs/configurations/jdk17.groovy
Labels: aarch, bug, windows

#2435 Remove x64Solaris from nightly until a working build machine is available
  pipelines/jobs/configurations/jdk8u.groovy
Labels: Solaris, bug

#2416 Add cleanWorkspaceAfterBuild and cleanWorkspaceBuildOutputAfterBuild
  FAQ.md
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk16_pipeline_config.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
Labels: enhancement, jenkins

#2436 Add build pipeline ReleaseType=Weekly
  RELEASING.md
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/pipeline_job_template.groovy
Labels: enhancement, jenkins

#2438 Use VS 2019 to build OpenJDK 16+ on Windows
  build-farm/platform-specific-configurations/windows.sh
Labels: enhancement, windows

#2402 Add dragonwell on aarch64
  build-farm/platform-specific-configurations/linux.sh
  pipelines/build/dockerFiles/dragonwell_aarch64.dockerfile
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  pipelines/jobs/configurations/jdk8u.groovy
  pipelines/jobs/configurations/jdk8u_pipeline_config.groovy
Labels: aarch, dragonwell, enhancement, new builds

#2430 Remove pointless getResult() from sign()
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: bug, jenkins

#2429 Inherit JDK16 testing platforms for JDK17
  pipelines/build/common/build_base_file.groovy
  pipelines/jobs/configurations/jdk17_pipeline_config.groovy
Labels: bug, testing

#2132 Parameterized Generators and Pipelines
  .github/workflows/build.yml
  .gitignore
  FAQ.md
  build-farm/make-adopt-build-farm.sh
  build-farm/set-platform-specific-configurations.sh
  docs/UsingOurScripts.md
  docs/images/scriptFolderParam.png
  pipelines/build/common/build_base_file.groovy
  pipelines/build/common/config_regeneration.groovy
  pipelines/build/common/create_job_from_template.groovy
  pipelines/build/common/cross_compiled_version_out.groovy
  pipelines/build/common/kick_off_build.groovy
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
  pipelines/build/prTester/README.md
  pipelines/build/prTester/kick_off_tester.groovy
  pipelines/build/prTester/pr_test_pipeline.groovy
  pipelines/build/regeneration/build_pipeline_generator.groovy
  pipelines/build/regeneration/jdk10_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk11_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk12_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk13_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk14_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk15_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk16_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk17_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk8_regeneration_pipeline.groovy
  pipelines/build/regeneration/jdk9_regeneration_pipeline.groovy
  pipelines/defaults.json
  pipelines/jobs/configurations/jdk14u.groovy
  pipelines/jobs/pipeline_job_template.groovy
  pipelines/jobs/weekly_release_pipeline_job_template.groovy
  pipelines/library/src/common/IndividualBuildConfig.groovy
  pipelines/library/src/common/RepoHandler.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
  pipelines/src/test/groovy/IndividualBuildConfigTest.groovy
  pipelines/src/test/groovy/RepoHandlerTest.groovy
  pipelines/src/test/groovy/TestCompilation.groovy
  pipelines/src/test/groovy/VersionParsingTest.groovy
  pipelines/src/test/groovy/fakeDefaults.json
Labels: documentation, enhancement, refactoring, regeneration, testing

#2425 Stop creating mozilla cacerts bundle if it is overridden
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: bug

#2445 fix downstream SCM_REF in tests for aarch64 and arm32
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: aarch, arm, bug

#2448 Reverts functionising of kick_off_build.groovy
  pipelines/build/common/kick_off_build.groovy
Labels: buildbreak

#2452 Check we are not on JDK head in the pipelines
  pipelines/build/openjdk10_pipeline.groovy
  pipelines/build/openjdk11_pipeline.groovy
  pipelines/build/openjdk12_pipeline.groovy
  pipelines/build/openjdk13_pipeline.groovy
  pipelines/build/openjdk14_pipeline.groovy
  pipelines/build/openjdk15_pipeline.groovy
  pipelines/build/openjdk16_pipeline.groovy
  pipelines/build/openjdk17_pipeline.groovy
  pipelines/build/openjdk8_pipeline.groovy
  pipelines/build/openjdk9_pipeline.groovy
Labels: buildbreak

#2450 Missing CHECKOUT_CREDENTIALS for pr tester
  pipelines/build/prTester/pr_test_pipeline.groovy
Labels: bug, testing

#2397 Add Smoke tests for build & packaging
  test/functional/buildAndPackage/build.xml
  test/functional/buildAndPackage/playlist.xml
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/BundledFreetypeTest.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/CudaEnabledTest.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/FeatureTests.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/JdkPlatform.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/JdkVersion.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/StreamUtils.java
  test/functional/buildAndPackage/src/net/adoptopenjdk/test/VendorPropertiesTest.java
  test/functional/buildAndPackage/testng.xml
Labels: enhancement

#2456 Add s390x_linux_xl for jdk16
  pipelines/jobs/configurations/jdk16.groovy
Labels: enhancement, new builds, z-linux

#2457 Add s390x_linux_xl to jdk17 build pipeline
  pipelines/jobs/configurations/jdk17.groovy
Labels: enhancement, new builds, z-linux

#2459 Set GitHub commit status for downstream PR tester jobs
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/src/main/groovy/testDoubles/ContextStub.groovy
Labels: bug

#2458 Supersede local file over network download
  build-farm/set-platform-specific-configurations.sh
  docs/UsingOurScripts.md
Labels: enhancement, important

#2460 Update build pipeline clean workspace to delete hidden files
  pipelines/build/common/openjdk_build_pipeline.groovy
Labels: enhancement, jenkins

#2413 Correct "HEAP_SIZE" release file value for x86 OpenJ9 builds
  sbin/build.sh
Labels: bug, build-windows, openj9, windows

#2464 Archive failed openjdk make failure logs
  sbin/build.sh
Labels: enhancement, jenkins

#2467 Update CA certificates
  security/certdata.txt
Labels: compatibility, enhancement

#2475 Move to freemarker 2.3.31
  sbin/prepareWorkspace.sh
Labels: bug

#2167 Autodetect boot JDK location based on playbook defaults
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: enhancement

#2479 Remove java 11 boot JDK restriction (Reverts PR 1416 and then some!)
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: bug

#2477 Update OpenSSL to 1.1.1j
  build-farm/platform-specific-configurations/windows.sh
  sbin/prepareWorkspace.sh
Labels: code-tools, enhancement, openj9

#2480 Correctly find MacOS dSYM folders only
  sbin/build.sh
Labels: bug, macosx

#2482 Fix for boot JDK autodetection in windows.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: bug, windows

#2478 autodetect as much as possible in make-adopt-build-farm.sh
  build-farm/make-adopt-build-farm.sh
Labels: enhancement

#2483 macos: Use JDK8 for bootstrapping JDK8
  build-farm/platform-specific-configurations/mac.sh
Labels: bug, buildbreak, macosx

#2487 Copy MacOS dSYM folder contents
  sbin/build.sh
Labels: bug, macosx

#2488 Enable debug images for all platforms except AIX
  build-farm/make-adopt-build-farm.sh
Labels: enhancement

#2489 AIX: LIBPATH to include /opt/freeware/lib/pthread/ppc64 at the front
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, enhancement

#2485 Add Bisheng JDK RISC-V support
  .github/workflows/build.yml
  README.md
  build-farm/platform-specific-configurations/linux.sh
  configureBuild.sh
  pipelines/build/common/openjdk_build_pipeline.groovy
  pipelines/jobs/configurations/jdk11u.groovy
  pipelines/jobs/configurations/jdk11u_pipeline_config.groovy
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/common/constants.sh
  sbin/prepareWorkspace.sh
Labels: enhancement, new builds, riscv

#2494 windows: switch aarch64 builds to use correct boot jdk version
  build-farm/platform-specific-configurations/windows.sh
Labels: aarch, buildbreak, windows

#2498 Use AIX hotspot bootjdk to avoid issue #2466
  build-farm/platform-specific-configurations/aix.sh
Labels: aix, buildbreak, infra
