Repository adoptium/temurin-build, pull requests merged in 2022-07, with the labels that each got.

#3019 aix: Remove /tmp/sh-np.* before building
  build-farm/platform-specific-configurations/aix.sh
Labels: macos, jenkins, aix, buildbreak

#3022 fix: do not have both --enable-ccache and --disable-ccache set and only RELEASE type has --disable-ccache
  build-farm/platform-specific-configurations/linux.sh
  build-farm/set-platform-specific-configurations.sh
Labels: jenkins, arm

#3021 reduce RAM usage during build on Linux systems with <4GB
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
Labels: aarch, alpine-linux

#3030 docs: revert back to only use _adopt as git tag suffix
  RELEASING.md
Labels: documentation

#3027 update: move function from build-farm to build.sh (reproducible build)
  build-farm/platform-specific-configurations/linux.sh
  build-farm/set-platform-specific-configurations.sh
  sbin/build.sh
Labels: jenkins, arm

#3033 Correct mk-cacerts.sh nokeystore alias file renaming to be unique
  sbin/build.sh
  sbin/prepareWorkspace.sh
  security/mk-cacerts.sh
Labels: security

#3037 mk-cacerts.sh tidy up
  security/mk-cacerts.sh
Labels: security

#3036 feat: add post check for imported ca certs number
  security/mk-ca-bundle.pl
  security/mk-cacerts.sh
Labels: security

#3041 feat: add smoketest for cacerts(check alias number)
  test/functional/buildAndPackage/src/net/adoptium/test/JdkVersion.java
  test/functional/buildAndPackage/src/net/adoptium/test/VerifyCACertsTest.java
  test/functional/buildAndPackage/testng.xml
Labels: macos, arm, testing
