Repository adoptium/temurin-build, pull requests merged in 2022-06, with the labels that each got.

#2960 Correct CycloneDX JDK_BOOT_DIR variable reference for JAVA_HOME
  sbin/build.sh
Labels: arm

#2938 docs: Update reference from "Adopt" to "Adoptium"
  CHANGELOG.md
  README.md
  RELEASING.md
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
  build-farm/set-platform-specific-configurations.sh
  configureBuild.sh
  docker-build.sh
  makejdk-any-platform.1
  makejdk-any-platform.sh
  native-build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: docker, macos, jenkins, documentation, windows, aix

#2964 Fix Adopt_J9_FeatureTests_0
  test/functional/buildAndPackage/src/net/adoptium/test/BundledFreetypeTest.java
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: openj9

#2965 chore: move set JAVA_HOME into a function
  build-farm/make-adopt-build-farm.sh
  build-farm/platform-specific-configurations/linux.sh
  sbin/build.sh
Labels: jenkins

#2968 rename after installer repo change
  RELEASING.md
Labels: documentation

#2967 windows: bump JDK8u x64 build to use VS2017
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/windows.sh
  sbin/build.sh
Labels: windows, testing

#2933 fix: update vendor from adoptium to eclipse when use Api service as default
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: docker, macos, jenkins, documentation, windows, installer, aix, alpine-linux

#2981 windows: only apply JDK8 freetype patch on x64
  sbin/build.sh
Labels: windows

#2991 fix: use OS_FULL_VERSION than OS_KERNEL in sbom to include more
  sbin/build.sh
Labels: alpine-linux

#2992 build: switch Windows JDK11 builds to use VS2019
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/windows.sh
Labels: windows

#2996 feat: always add sbom component, for those not have values set to "N.A"
  sbin/build.sh
Labels: openj9

#3000 Do not match jdk build '0' new version branching tags
  sbin/build.sh
Labels: testing

#3004 feat: disable CCache for jdk19+ as part of reproducible builds
  build-farm/set-platform-specific-configurations.sh
Labels: jenkins

#3006 feat: enable reproducible build for jdk17
  build-farm/set-platform-specific-configurations.sh
Labels: jenkins, reproducible-build

#3007 Improve Alpine Version In SBOM
  sbin/common/config_init.sh
Labels: alpine-linux
