Repository adoptium/temurin-build, pull requests merged in 2022-10, with the labels that each got.

#3118 docs: update release step options
  RELEASING.md
Labels: documentation

#3106 hotspot: use correct repo for non-temurin aarch32 builds
  configureBuild.sh
Labels: aarch

#3119 chore: remove jdk18 in GH action test
  .github/workflows/build.yml
Labels: testing, awaiting-merge-post-release, ghActions
