Repository adoptium/temurin-build, pull requests merged in 2022-08, with the labels that each got.

#3046 Set configure arg --with-hotspot-build-time for reproducible jdk17+ non-release builds
  sbin/build.sh
Labels: awaiting-merge-post-release

#2962 Add --create-sbom to README.md
  README.md
  makejdk-any-platform.1
Labels: documentation

#3053 revert: back to "false" for BUILD_CONFIG[CREATE_SBOM]
  sbin/common/config_init.sh
Labels: jenkins, awaiting-merge-post-release

#3080 Docs: Add .sig regexp to RELEASING.md doc
  RELEASING.md
Labels: documentation

#3076 feat: update to use jdk17 as boot jdk for jdk17 build to support reproducible builds
  build-farm/make-adopt-build-farm.sh
Labels: jenkins

#3085 Update OpenJ9 jdk8 builds to use freetype 2.9.1 and VS2017
  build-farm/platform-specific-configurations/windows.sh
Labels: windows
