Repository adoptium/temurin-build, pull requests merged in 2022-09, with the labels that each got.

#3049 Fix java version logic for repro params so it does not use undefined variable
  sbin/build.sh
Labels: awaiting-merge-post-release

#3079 doc: Update FAQ with correct compiler levels
  FAQ.md
Labels: macos, documentation

#3095 add jdk11u fixpath path for windows aarch64
  sbin/build.sh
Labels: windows, aarch

#3090 Force TZ=UTC for reproducible release builds
  sbin/build.sh
Labels: macos, reproducible-build

#3098 Compile OpenJ9 Windows jdk11 with VS2019
  build-farm/platform-specific-configurations/windows.sh
Labels: windows, openj9

#3100 Update RELEASING.md
  RELEASING.md
Labels: documentation
