Repository adoptium/temurin-build, pull requests merged in 2022-04, with the labels that each got.

#2874 Auto-detect TARGET_OS for mac in make-adopt-build-farm.sh
  build-farm/make-adopt-build-farm.sh
Labels: macos, jenkins, solaris, arm

#2885 Use full xcode for MacOS/aarch64 JDK11
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, aarch

#2895 doc: add note to RELEASING.md about including the sources tarball with xlinux
  RELEASING.md
Labels: documentation, x-linux

#2880 Appropriately name MacOS bootjdk directories
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, testing

#2897 Force make to use SHELL=/bin/bash on Solaris
  build-farm/platform-specific-configurations/solaris.sh
Labels: jenkins, solaris
