Repository adoptium/temurin-build, pull requests merged in 2022-11, with the labels that each got.

#3135 Create dependabot.yml
  .github/dependabot.yml
Labels: ghActions

#3137 Update openssl to version 1.1.1s for OpenJ9
  sbin/prepareWorkspace.sh
Labels: openj9

#3128 fixed typo from Termurin to Temurin
  RELEASING.md
Labels: documentation

#3146 actions: fix failing macOS builds
  .github/workflows/build.yml
Labels: macos, testing

#3130 Fix download of boot JDK when cross-compiling
  build-farm/platform-specific-configurations/linux.sh
Labels: cross-compile

#3133 Build openj9 with the version of freetype bundled with jdk8
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: macos, windows, openj9

#3152 docs: update RELEASE.md
  RELEASING.md
Labels: documentation
