Repository adoptium/temurin-build, pull requests merged in 2022-02, with the labels that each got.

#2819 Enable jdk-19+ reproducible build options
  build-farm/make-adopt-build-farm.sh
  build-farm/set-platform-specific-configurations.sh
  sbin/build.sh
  sbin/prepareWorkspace.sh
  security/mk-cacerts.sh
Labels: jenkins, security

#2818 Create "temurin" variant distinct from "hotspot"
  build-farm/make-adopt-build-farm.sh
  configureBuild.sh
  sbin/build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
  sbin/common/constants.sh
  sbin/prepareWorkspace.sh
Labels: jenkins, testing

#2853 When auto-downloading boot JDK, default to hotspot (Don't use temurin in API)
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
Labels: macos, windows, alpine-linux

#2851 doc: Update RELEASING.md based on Jan2022 experiences
  RELEASING.md
Labels: documentation
