Repository adoptium/temurin-build, pull requests merged in 2022-12, with the labels that each got.

#3168 remove windows aarch64 fixpath patch for JDK11u
  build-farm/platform-specific-configurations/windows.sh
  sbin/build.sh
Labels: windows, aarch

#3164 Confirm how to build from a tag with make-adopt-build-farm.sh
  FAQ.md
Labels: documentation, arm

#2550 OpenJ9 linux always configure --with-openssl=fetched
  build-farm/platform-specific-configurations/linux.sh
Labels: enhancement, openj9, testing, x-linux

#3159 docs: add build tags for release step and auto trigger release pipeline etc
  RELEASING.md
Labels: jenkins, documentation, aarch

#3193 Delete CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation
