Repository adoptium/temurin-build, pull requests merged in 2023-05, with the labels that each got.

#3311 Remove freemarker options from OpenJ9 builds
  build-farm/platform-specific-configurations/windows.sh
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: windows, testing

#3344 Enable build scripts support for user vendor strings
  makejdk-any-platform.1
  sbin/common/config_init.sh
Labels: jenkins

#3347 Update linux_repro_build_compare for adoptium.net
  tooling/linux_repro_build_compare.sh
Labels: x-linux

#3251 Build OpenJ9 Windows jdk19+ with VS2022, and disable ccache
  build-farm/platform-specific-configurations/windows.sh
Labels: windows, openj9

#3350 linux.sh: Pull some parts into functions and do GPG signature checks on boot JDK downloads
  build-farm/platform-specific-configurations/linux.sh
Labels: testing, x-linux, aarch

#3356 Fix GPG checking of boot JDK for EA downloads and Alpine
  build-farm/platform-specific-configurations/linux.sh
  sbin/prepareWorkspace.sh
Labels: jenkins, arm, alpine-linux

#3360 Update api after build release
  RELEASING.md
Labels: documentation

#3376 Update openssl to version 1.1.1u
  sbin/prepareWorkspace.sh
Labels: openj9

#3377 Update version retire post-release section
  RELEASING.md
Labels: documentation
