Repository adoptium/temurin-build, pull requests merged in 2023-01, with the labels that each got.

#3188 switch freetype to clone source from GitHub
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/windows.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: macos, windows

#3196 Update RELEASING.md with auto release tag trigger instuctions
  RELEASING.md
Labels: documentation, testing

#3201 Update RELEASING.md auto-trigger release details
  RELEASING.md
Labels: documentation

#3208 debug: windows GH action failure
  .github/workflows/build.yml
Labels: windows, testing

#3045 fix: inaccurate value "using docker" in sbom
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: docker, jenkins, awaiting-merge-post-release, Sbom, secure-dev

#3217 alpine: switch jdk8u to build from other fork
  configureBuild.sh
Labels: alpine-linux

#3218 doc: update release branch than release tag
  RELEASING.md
Labels: documentation

#3219 Add code freeze bot
  .github/code-freeze.yml
Labels: testing, ghActions

#3226 Fix Smoke Test openj9 AIX libfreetype error
  test/functional/buildAndPackage/src/net/adoptium/test/BundledFreetypeTest.java
Labels: aix, openj9

#3228 GH: add test on changes under cyclonedx-lib folder
  .github/workflows/build.yml
Labels: testing
