Repository adoptium/temurin-build, pull requests merged in 2023-10, with the labels that each got.

#3490 Add Windows sign.sh retry and check curl rc
  sign.sh
Labels: installer

#3485 Update to openssl 3.0.11
  sbin/prepareWorkspace.sh
Labels: openj9

#3502 Add --openjdk-target=x86_64-apple-darwin argument when crosscompiling jdk11+ (Mac)
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, jenkins, arm, cross-compile

#3467 Updates to homebrew info in `RELEASING.md`
  RELEASING.md
Labels: macos, documentation

#3507 jdk8 select Xcode-11.7 only when cross-compiling
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, cross-compile

#3508 jdk8 select Xcode-11.7 only when cross-compiling (#3507)
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, cross-compile

#3517 Rename openjdkbinary folder to jdkbinary
  .azure-devops/test/jobs/steps/parallel.yml
  .azure-devops/test/jobs/steps/test.yml
Labels: testing
