Repository adoptium/temurin-build, pull requests merged in 2023-06, with the labels that each got.

#3379 Use alternate path for GNUPGHOME when path length >83 characters
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: jenkins, testing

#3383 Remove typo in aix cflags argument
  sbin/build.sh
Labels: aix

#3390 Use updated static libs target
  configureBuild.sh
  docker-build.sh
  sbin/build.sh
Labels: docker

#3391 signing: Remove redundant trimming of timeserver string
  sign.sh
Labels: installer

#3400 Ensure deterministic cacert ALIAS name
  security/mk-cacerts.sh
Labels: security, reproducible-build

#3401 Boot JDK download not always using the correct gpg signature file for verification
  build-farm/platform-specific-configurations/linux.sh
Labels: testing

#3402 Ensure deterministic cacert ALIAS name
  security/mk-cacerts.sh
Labels: docker, security, reproducible-build

#3408 Ensure deterministic cacert ALIAS name by only using recognised DNs
  security/mk-cacerts.sh
Labels: security, reproducible-build

#3413 Tidy up of detail from Release Checklist
  RELEASING.md
Labels: documentation
