Repository adoptium/temurin-build, pull requests merged in 2023-11, with the labels that each got.

#3516 add download and sbom verification scripts
  tooling/release_download_test.sh
  tooling/validateSBOMcontent.sh
Labels: macos, jenkins, windows, testing

#3512 Update to openssl 3.0.12
  sbin/prepareWorkspace.sh
Labels: openj9

#3523 Freetype: run bash autogen.sh before any ./configure commands
  sbin/prepareWorkspace.sh
Labels: jenkins, testing

#3520 Extending keyserver timeout to make alpine build more forgiving
  sbin/prepareWorkspace.sh
Labels: alpine-linux

#3522 Tidy up release_download_test.sh
  tooling/common_logging.sh
  tooling/release_download_test.sh
Labels: macos, windows, testing, aarch

#3515 doc: RELEASING.md: clarify first version for a point release
  RELEASING.md
Labels: documentation

#3530 doc: how to add a one-off patch to a point release
  RELEASING.md
Labels: documentation

#3541 pin JDK11 x64 build to XCode rather than commandline tools
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/mac.sh
Labels: macos

#3539 RISC-V: Avoid using JDK20 as boot JDK for JDK21
  build-farm/make-adopt-build-farm.sh
Labels: docker, jenkins, testing

#3537 sbom: Updates to include builder name and CI link
  sbin/build.sh
Labels: testing

#3549 Creating an automated build triage script
  .github/workflows/build-autotriage.yml
  tooling/build_autotriage/autotriage_regexes.sh
  tooling/build_autotriage/build_autotriage.sh
Labels: testing, weekly-build-triage

#3551 Add required library for Configure to work on Ubuntu 22 onwards. ( for both Arm64 & x64 )
  build-farm/platform-specific-configurations/linux.sh
Labels: arm, aarch

#3543 Add workaround for brew update failure when running aqa smoke tests
  .github/workflows/build.yml
Labels: macos, testing
