Repository adoptium/temurin-build, pull requests merged in 2023-12, with the labels that each got.

#3557 Default Temurin jdk-21+ to use bundled FreeType
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/aix.sh
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
  build-farm/platform-specific-configurations/windows.sh
  test/functional/buildAndPackage/src/net/adoptium/test/BundledFreetypeTest.java
Labels: macos, windows, aix, alpine-linux

#3561 comparable_patch.sh updates for Windows
  tooling/ReproducibleBuilds.md
  tooling/comparable_patch.sh
Labels: documentation

#3538 Capture CycloneDX JAR SHAs in SBoM
  cyclonedx-lib/build.xml
  cyclonedx-lib/src/temurin/sbom/TemurinGenSBOM.java
  sbin/build.sh
  sbin/common/sbom.sh
Labels: macos, testing

#3574 Exclude excessive build warnings on mac for jdk11 and jdk17
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, testing, aarch

#3567 Stop showing full SBoM output in build log
  sbin/build.sh
Labels: jenkins

#3576 Creating regex logic for build autotriager
  .github/workflows/build-autotriage.yml
  tooling/build_autotriage/README.md
  tooling/build_autotriage/autotriage_regexes.sh
  tooling/build_autotriage/build_autotriage.sh
Labels: documentation
