Repository adoptium/temurin-build, pull requests merged in 2024-06, with the labels that each got.

#3827 Fix OS architecture for darwin aarch64 builds of static libs
  sbin/build.sh
Labels: windows, arm, aarch

#3836 Update to openssl 3.0.14
  sbin/prepareWorkspace.sh
Labels: openj9

#3846 Ensure SBOM build timestamp is set to the ACTUAL timestamp compiled from spec.gmk
  sbin/build.sh
Labels: windows

#3830 replaced ${ARCHITECTURE}" by "${BUILD_CONFIG[OS_ARCHITECTURE]}"
  sbin/build.sh
Labels: windows, testing

#3850 Update CUDA_VERSION to 9.1
  build-farm/platform-specific-configurations/windows.sh
Labels: windows

#3852 Update build-scripts to enable hotspot & temurin jdk(head) version branch builds
  configureBuild.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
Labels: testing

#3822 AIX: Changes in configuration files to support OpenXL17
  build-farm/platform-specific-configurations/aix.sh
  sbin/build.sh
Labels: aix

#3859 macos-11 github runner no longer available, remove jdk8u mac github action build
  .github/workflows/build.yml
Labels: macos

#3824 Update parsing TEMURIN_BUILD_ARGS
  test/system/reproducibleCompare/playlist.xml
  tooling/reproducible/linux_repro_build_compare.sh
Labels: testing

#3796 making build -D working with podman
  README.md
  configureBuild.sh
  cyclonedx-lib/build.xml
  docker-build.sh
  docker/dockerfile-generator.sh
  makejdk-any-platform.1
  makejdk-any-platform.sh
  sbin/build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
  signalhandler.sh
Labels: docker, documentation
