Repository adoptium/temurin-build, pull requests merged in 2024-02, with the labels that each got.

#3629 Special case boot version for JDK11u on riscv64
  build-farm/make-adopt-build-farm.sh
Labels: jenkins

#3630 Update GNUPGHOME variable more broadly
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  sbin/prepareWorkspace.sh
Labels: alpine-linux

#3569 Add amount of disk space used by build to the log
  build-farm/make-adopt-build-farm.sh
Labels: macos, jenkins

#3643 Alpine linux ALSA gpg fails due to path length
  sbin/prepareWorkspace.sh
Labels: x-linux

#3651 Correct check for alpine when setting up GNUPGHOME
  sbin/prepareWorkspace.sh
Labels: arm, alpine-linux

#3663 Ensure GPG temp dir can be created for long build folder paths on linux riscv64
  sbin/prepareWorkspace.sh
Labels: testing, x-linux

#3660 Fixes to download + SBOM validation scripts
  tooling/release_download_test.sh
  tooling/validateSBOMcontent.sh
Labels: testing
