Repository adoptium/temurin-build, pull requests merged in 2024-01, with the labels that each got.

#3592 Add initial README.md for the cyclonedx-lib tooling
  cyclonedx-lib/README.md
Labels: documentation, Sbom

#3619 Temporarily patch architecture confusion when cross-compiling on mac
  sbin/build.sh
Labels: macos, arm, cross-compile

#3365 doc: Add EclipseMirror information to RELEASING.md
  RELEASING.md
Labels: jenkins, documentation
