Repository adoptium/temurin-build, pull requests merged in 2024-10, with the labels that each got.

#3965 Fix translation of package names in SBOM
  tooling/strace_analysis.sh
Labels: aarch

#3935 Update to openssl 3.0.15
  sbin/prepareWorkspace.sh
Labels: openj9

#3982 Removing developer code link from code
  cyclonedx-lib/getDependencies
Labels: testing

#3981 Add support for Windows Redist DLL as Adoptium DevKit
  sbin/build.sh
  sbin/prepareWorkspace.sh
Labels: jenkins, windows, testing, aarch

#3972 Enable Mac Aarch64 reproducible comparing tests
  test/system/reproducibleCompare/build.xml
  test/system/reproducibleCompare/playlist.xml
  test/system/reproducibleCompare/reproducible.mk
  tooling/reproducible/macos_repro_build_compare.sh
  tooling/reproducible/repro_common.sh
  tooling/reproducible/repro_compare.sh
  tooling/reproducible/repro_process.sh
Labels: aarch

#3966 Fix some punctuation, spelling errors
  docker-build.sh
Labels: docker
