Repository adoptium/temurin-build, pull requests merged in 2024-03, with the labels that each got.

#3673 Add Windows Reproducible Build From SBOM Scripts
  sbin/build.sh
  tooling/reproducible/ReproducibleBuilds.md
  tooling/reproducible/comparable_patch.sh
  tooling/reproducible/linux_repro_build_compare.sh
  tooling/reproducible/repro_common.sh
  tooling/reproducible/repro_compare.sh
  tooling/reproducible/repro_process.sh
  tooling/reproducible/windows_build_as_temurin.sh
  tooling/reproducible/windows_repro_build_compare.sh
Labels: enhancement, macos, documentation, windows, testing, cmp-builds

#3686 Fix smoke-tests on linux-riscv64 for jdk11u
  test/functional/buildAndPackage/src/net/adoptium/test/FeatureTests.java
Labels: x-linux

#3691 Reproducible jdk21u linux build fixes and updates for debug symbols
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/linux.sh
  sbin/build.sh
  tooling/reproducible/comparable_patch.sh
  tooling/reproducible/repro_common.sh
Labels: testing, x-linux

#3692 Update build triage script to include pipeline analysis
  .github/workflows/build-autotriage.yml
  .github/workflows/build.yml
  tooling/build_autotriage/build_autotriage.sh
Labels: arm, testing

#3694 Fix WGET Output Switches And Typos in windows reproducible compare script.
  tooling/reproducible/windows_repro_build_compare.sh
Labels: windows

#3702 cacert: auto update smoke test counter
  .github/workflows/ca-cert-updater.yml
  security/mk-ca-bundle.pl
Labels: security

#3696 Support building in a user supplied OpenJDK build directory
  README.md
  sbin/build.sh
  sbin/common/common.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: documentation, reproducible-build

#3719 Add getDependentLibs for smoke test
  test/functional/buildAndPackage/build.xml
Labels: openj9, testing

#3701 Add debug symbol mapping for reproducible jdk-21.0.3 builds
  sbin/build.sh
Labels: reproducible-build

#3722 Set build_full_name correctly when user build root directory specified
  configureBuild.sh
Labels: testing

#3723 Add lib jcommander for smoke test
  test/functional/buildAndPackage/build.xml
Labels: openj9, testing

#3706 Provide a temurin-build build arg --use-adoptium-devkit <devkit_tag>
  README.md
  build-farm/platform-specific-configurations/linux.sh
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: documentation, reproducible-build

#3731 ReproducibleBuilds.md: Update "Reproducible Build Tools" section (#3729)
  tooling/reproducible/ReproducibleBuilds.md
Labels: documentation

#3735 OpenJ9: Set CUDA_HOME to a generic HOME folder
  build-farm/platform-specific-configurations/linux.sh
Labels: jenkins
