Repository adoptium/temurin-build, pull requests merged in 2024-09, with the labels that each got.

#3921 Update reproducible comparing on linux
  test/system/reproducibleCompare/reproducible.mk
  tooling/reproducible/linux_repro_build_compare.sh
  tooling/reproducible/repro_common.sh
  tooling/reproducible/repro_process.sh
Labels: testing, x-linux

#3942 Add linux riscv to the list of autotriaged platforms
  tooling/build_autotriage/build_autotriage.sh
Labels: riscv-linux

#3945 RELEASING.md updates for version branch and various updates
  RELEASING.md
Labels: documentation
