Repository adoptium/temurin-build, pull requests merged in 2024-11, with the labels that each got.

#4022 Update windows_repro_build_compare.sh to allow for windows Redist devkit
  sbin/build.sh
  tooling/reproducible/windows_repro_build_compare.sh
Labels: windows, testing

#4018 Add timestamps to repro_compare.sh and friends
  tooling/reproducible/repro_common.sh
  tooling/reproducible/repro_compare.sh
  tooling/reproducible/repro_process.sh
Labels: macos, windows, testing

#3992 Remove hyphen from bootjdk symlinks
  build-farm/platform-specific-configurations/alpine-linux.sh
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/mac.sh
Labels: macos, windows, alpine-linux

#4026 Move reproducible tests to one level
  test/system/reproducibleCompare/playlist.xml
Labels: jenkins

#3844 Enable reproducible comparing tests on jdk21+ macos
  test/system/reproducibleCompare/playlist.xml
Labels: macos, jenkins

#3985 Upgrade TemurinGenSBOM to use CycloneDX v9.0.5 spec 1.0.6
  README.md
  cyclonedx-lib/build.xml
  cyclonedx-lib/dependency_data/dependency_data.properties
  cyclonedx-lib/dependency_data/shas/commons-codec.jar.sha256
  cyclonedx-lib/dependency_data/shas/commons-io.jar.sha256
  cyclonedx-lib/dependency_data/shas/cyclonedx-core-java.jar.sha256
  cyclonedx-lib/dependency_data/shas/github-package-url.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-annotations.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-core.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-databind.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-dataformat-xml.jar.sha256
  cyclonedx-lib/dependency_data/shas/json-schema.jar.sha256
  cyclonedx-lib/dependency_data/versions/commons-codec.jar.version
  cyclonedx-lib/dependency_data/versions/commons-io.jar.version
  cyclonedx-lib/dependency_data/versions/cyclonedx-core-java.jar.version
  cyclonedx-lib/dependency_data/versions/github-package-url.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-annotations.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-core.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-databind.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-dataformat-xml.jar.version
  cyclonedx-lib/dependency_data/versions/json-schema.jar.version
  cyclonedx-lib/sign_src/TemurinSignSBOM.java
  cyclonedx-lib/src/temurin/sbom/TemurinGenSBOM.java
  sbin/build.sh
  sbin/common/config_init.sh
Labels: ansible, documentation, testing

#3973 Update ReproducibleBuilds.md with cygwin details
  tooling/reproducible/ReproducibleBuilds.md
Labels: documentation

#4040 Add smoke test for enabled JEP 493 for Eclipse Temurin builds
  test/functional/buildAndPackage/src/net/adoptium/test/FeatureTests.java
Labels: testing

#4060 Doc: Update Executing Smoke Tests Document
  SmokeTesting.md
Labels: documentation, testing
