Repository adoptium/temurin-build, pull requests merged in 2024-04, with the labels that each got.

#3736 comparable_patch.sh: Zero out .gnu_debuglink CRCs (#3730)
  tooling/reproducible/ReproducibleBuilds.md
  tooling/reproducible/comparable_patch.sh
Labels: documentation

#3739 Update reproducible comparing tests with centos:7
  test/system/reproducibleCompare/build.xml
  test/system/reproducibleCompare/linux_repro_build_compare.sh
  test/system/reproducibleCompare/playlist.xml
  test/system/reproducibleCompare/reproducible.mk
  tooling/reproducible/linux_repro_build_compare.sh
Labels: testing

#3751 Ensure LD_LIBRARY_PATH set when building using a linux devkit
  sbin/build.sh
Labels: x-linux, reproducible-build

#3766 Fix failing jdk11 macos CI checks due to Xcode 15 dependencies
  .github/workflows/build.yml
Labels: macos

#3709 Centralising sbom dependency data, plus adding versions to sboms
  cyclonedx-lib/README.md
  cyclonedx-lib/build.xml
  cyclonedx-lib/dependency_data/shas/commons-codec.jar.sha256
  cyclonedx-lib/dependency_data/shas/commons-io.jar.sha256
  cyclonedx-lib/dependency_data/shas/cyclonedx-core-java.jar.sha256
  cyclonedx-lib/dependency_data/shas/github-package-url.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-annotations.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-core.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-databind.jar.sha256
  cyclonedx-lib/dependency_data/shas/jackson-dataformat-xml.jar.sha256
  cyclonedx-lib/dependency_data/shas/json-schema.jar.sha256
  cyclonedx-lib/dependency_data/versions/commons-codec.jar.version
  cyclonedx-lib/dependency_data/versions/commons-io.jar.version
  cyclonedx-lib/dependency_data/versions/cyclonedx-core-java.jar.version
  cyclonedx-lib/dependency_data/versions/github-package-url.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-annotations.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-core.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-databind.jar.version
  cyclonedx-lib/dependency_data/versions/jackson-dataformat-xml.jar.version
  cyclonedx-lib/dependency_data/versions/json-schema.jar.version
  cyclonedx-lib/getDependencies
  sbin/build.sh
Labels: documentation

#3771 update SBOM validator for April 2024
  tooling/release_download_test.sh
  tooling/validateSBOMcontent.sh
Labels: macos, Sbom

#3781 Improve security by adding checksum validation to downloads.
  .azure-devops/build/steps/windows/before.yml
  .github/workflows/build.yml
  build-farm/platform-specific-configurations/linux.sh
  docker/buildDocker.sh
  tooling/reproducible/linux_repro_build_compare.sh
Labels: docker, security
