Repository adoptium/temurin-build, pull requests merged in 2024-05, with the labels that each got.

#3788 Making grep -q -e -e usable on solaris
  sbin/common/common.sh
Labels: solaris

#3794 Fix codefreeze to check PR target branch correctly
  .github/workflows/code-freeze.yml
  .github/workflows/semgrep_diff.yml
  .licenserc.yaml
  RELEASING.md
Labels: documentation

#3725 Added feature to download boot jdk on demand
  build-farm/platform-specific-configurations/linux.sh
  build-farm/platform-specific-configurations/windows.sh
  makejdk-any-platform.1
  sbin/common/downloaders.sh
  sbin/prepareWorkspace.sh
Labels: windows, x-linux, p-linux, z-linux

#3737 enabled build from source dir/tarball via to --openjdk-source-location/-l
  makejdk-any-platform.1
  sbin/build.sh
  sbin/common/config_init.sh
  sbin/prepareWorkspace.sh
Labels: enhancement, docker

#3778 Enable reproducable comparation in aqa-tests on windows
  test/system/reproducibleCompare/playlist.xml
  test/system/reproducibleCompare/reproducible.mk
  tooling/reproducible/repro_common.sh
  tooling/reproducible/repro_compare.sh
  tooling/reproducible/repro_process.sh
  tooling/reproducible/windows_repro_build_compare.sh
Labels: windows

#3814 Don't use --enable-compatible-cds-alignment for OpenJ9 builds
  sbin/build.sh
Labels: openj9

#3783 April 2024 RELEASING.md updates
  RELEASING.md
Labels: documentation

#3812 Add Mac Build JDK From SBOM script
  tooling/reproducible/macos_repro_build_compare.sh
  tooling/reproducible/repro_common.sh
Labels: testing

#3825 Solaris sleep does not support suffix 's'
  sbin/common/common.sh
Labels: jenkins, solaris
