Repository adoptium/temurin-build, pull requests merged in 2025-01, with the labels that each got.

#4112 Update jdk8u sign.sh Eclipse signing to not sign apims Microsoft files
  sign.sh
Labels: installer

#4113 [v2025.01.01] Update jdk8u sign.sh Eclipse signing to not sign apims Microsoft files (#4112)
  sign.sh
Labels: installer

#4114 RELEASING.md: Add not on how to remove an incorrect tag
  RELEASING.md
Labels: documentation

#4121 Add option to build in wsl
  README.md
  makejdk-any-platform.1
  sbin/common/config_init.sh
Labels: documentation, testing
