Repository adoptium/temurin-build, pull requests merged in 2025-04, with the labels that each got.

#4155 Correct SBOM ALSA version check
  sbin/build.sh
Labels: aarch

#4165 Update SemeruPropertiesChecks.javaVendorUrlBug test
  test/functional/buildAndPackage/src/net/adoptium/test/VendorPropertiesTest.java
Labels: openj9

#4157 Add support for archiving the JMODs image
  configureBuild.sh
  docker-build.sh
  sbin/build.sh
  sbin/common/config_init.sh
Labels: docker
